[2016-03-04 13:37] geohuz opened #2 "fectchAll doesn't return all events"
On my macbookpro I have my calendars setup to sync to a remote caldav server, and I can see a whole list of full year's events on the calendar upon successfully setup. And then I wrote the following code in my react-native dev project:

[code]

But I only see 4 items which are synced with my friends birthday found in the email. Is there anyway I can do with this issue?

[2016-03-04 20:21] wmcmahan commented on #2
The fetch method should be searching in all available calendars on an IOS device. I've only tested with a google account and was able to successfully fetch events synced through google. My only thought is that either they didn't fully sync or something is off in the devices calendar settings. I will keep looking to see if I can reproduce.

[2016-03-05 04:22] geohuz commented on #2
I was wondering if the fetchAllevents would be changed to promise as described in the facebook document, something like this:

[code]

As my calendar has hundred events through the year, it takes time to fetch them all?

[2016-03-05 15:40] wmcmahan commented on #2
Cool, I had not seen this macro. IOS's method to access events is `eventsMatchingPredicate`, which is synchronous and therefore run in another thread. With a large time range and hundreds of events, it will always take time to find events in the store. Unfortunately, using a promise or callback won't make the lookup an faster. Are you experiencing the main thread getting blocked?

I do like the id

[2016-03-06 17:25] nicinabox opened #3 "removeEvent throws Exception"
When calling `RNCalendarEvents.removeEvent('F7A090EC-115E-4AD2-BD6E-439936FC2C75')` I get this error:

[code]

Any thoughts?

[2016-03-06 17:56] nicinabox commented on #3
Looks like it's related to not having event emitter error handler.

[2016-03-06 17:56] #3 closed

[2016-03-06 23:36] nicinabox opened #4 "requestCalendarAccess callback fires before user interacts with dialog"
Logging out `auth` and `error` from the callback when `requestCalendarAccess` is called. The callback seems to be called immediately. Not sure if that's the intended behavior, but it seems more useful to get the access state after a selection is made.

<img width="555" alt="screen shot 2016-03-06 at 5 33 41 pm" src="https://cloud.githubusercontent.com/assets/246280/13558116/b0cd41fe-e3c1-11e5-9bef

[2016-03-07 01:57] wmcmahan commented on #4
Ah yes, you're definitely right about that. Auth state should come back after selection is made. I will take a look at handling this asyc behavior. Thanks!

[2016-03-07 01:58] nicinabox commented on #4
Thanks @wmcmahan!

[2016-03-07 04:48] geohuz commented on #2
Actually I can't set the events property during the startup, here is my code:

[code]

and the cEvents is always null, I can only see it when I change the setState to console.log

[2016-03-07 14:29] wmcmahan commented on #2
Try using an arrow function to access _this_ object.
[code]

[2016-03-07 16:18] wmcmahan commented on #2
Closing since this as original issue of fetching events seems to be ok.

[2016-03-07 16:18] #2 closed

[2016-03-09 01:49] wmcmahan commented on #4
@nicinabox I've pushed a patch to handle the callback after authorization selection. Note, the callback status param is no longer a BOOL, but an object with status as a string, "denied" or "authorized". I've also added another method, `authorizationStatus`, to get current the auth state.

[2016-03-09 01:49] #4 closed

[2016-03-09 15:52] nicinabox commented on #4
Thanks @wmcmahan all good now :+1:

[2016-03-23 19:22] rreusser opened #5 "Crashes without CoreFoundation.framework in iOS8"
After installing this module, the app compiles fine but crashes instantly using the iOS 8.2 simulator (anything less than iOS9, I believe, and before loading RN) unless `CoreFoundation.framework` is linked with `Optional` status. Due to an unhelpful error message, it took a lengthy git bisect to track down sometime after the fact, so it seems—unless this is symptomatic of some other issue—that `Co

[2016-03-24 21:39] wmcmahan commented on #5
Thanks @rreusser, great point. I will make note in the instructions.

[2016-03-24 21:46] rreusser commented on #5
Want me to make a quick PR? I'm probably part of the react-native inspired influx of JS developers into the Xcode world, so wanted to make sure there wasn't a more appropriate solution. But if it makes sense, I'm glad to make a quick PR.

[2016-03-25 01:27] wmcmahan commented on #5
Absolutely, I'm part of the JS influx also and PR's are always welcome :) Any documentation around possible errors is always helpful.

[2016-04-21 19:22] nicinabox commented on #5
Just ran into this issue. @rreusser @wmcmahan any progress on that PR?

[2016-04-21 19:43] rreusser commented on #5
@nicinabox Yup! Sorry I failed to submit previously. Submitted a quick PR with the note.

[2016-04-21 21:19] #5 closed

[2016-05-24 21:39] soniaparikh opened #8 "Events are not visible on calendar"
I am adding event with RNCalendarEvents.saveEvent, but its not setting on my calendar. I am using iOS simulator to test my code.

[2016-05-25 13:45] wmcmahan commented on #8
Hi @soniaparikh, are you requesting authorization to the EventStore with `authorizeEventStore` first? Events will then get saved to your default calendar.

[2016-05-25 13:53] soniaparikh commented on #8
Yes. I am checking status as well. Following is my code.

 handleButtonPress (){
    RNCalendarEvents.authorizeEventStore(({status}) => {
      if(status == 'authorized')
      {
          RNCalendarEvents.saveEvent('title', {
          location: 'location',
          notes: 'notes',
          startDate: '2016-10-01T09:45:00.000UTC'
        });
          console.log("EVENT ADDED")
      }
    });

[2016-05-25 14:31] wmcmahan commented on #8
Are you seeing any errors? Also, try adding an end date.

[2016-05-25 14:52] soniaparikh commented on #8
I tired with end date and it works. Thank you very much.

[2016-05-25 15:03] wmcmahan commented on #8
Great!

[2016-05-25 15:03] #8 closed

[2016-07-14 09:16] ilovelll opened #10 "How could I open a creat calendar event page instead of save it directly?"
After I call RNCalendarEvents.saveEvent this function, I found it had added the canlendar event directly, could I open the confirm page like below instead of adding the event backend?
![](http://ww3.sinaimg.cn/mw690/5e06b5b0jw1f5tk733htpj20a80fkjs2.jpg)

[2016-07-14 13:19] wmcmahan commented on #10
Sorry @ilovelll, I'm not sure I understand. Do you wish to only show an event's details but not save the event?

[2016-07-15 01:36] ilovelll commented on #10
Yes, I want to show a details page to let user to confirm it. I'm a front-end programmer, not familiar with iOS native develop.
Thanks for your reply.

[2016-07-15 13:37] wmcmahan commented on #10
Cool. It should be fairly easy to create a custom UI for this with React Native components, if you don't want to mess with the native IOS code. Otherwise, this package will only help in persisting and retrieving the events.

[2016-07-18 13:30] #10 closed

[2016-08-09 07:12] quadrupleslap opened #11 "Use promises instead of events."
Using promises instead of events to return the ID after calendar event creation would make for a much nicer interface.

[2016-08-10 13:51] wmcmahan commented on #11
I agree, that would be nice. I will see about trying to get that in.

[2016-08-17 19:58] blackPeanut opened #12 "remove repeating event"
Hi! I've found that it's impossible to remove event with recurrence.
Also, I can't update recurrence status to none for existing event (the second one maybe is not an issue, I've just tried to hack someway to remove existing recurrence events);

[2016-08-17 20:52] wmcmahan commented on #12
Good call, i think its currently setup to remove a single instance of an event. I could create an extra argument for removing all future instances or a single instance.

[2016-08-17 22:12] blackPeanut commented on #12
@wmcmahan Thank's, looks that it works (it removes actually event, I can see it after reload) but before that I've got an error:
![screen shot 2016-08-18 at 12 11 10 am](https://cloud.githubusercontent.com/assets/12514390/17755120/681de038-64d8-11e6-9777-67d2189584f5.png)

[2016-08-17 23:38] wmcmahan commented on #12
I'm not certain, but doing this may effect eventstore events serialization. I will have to try and repro it myself.

[2016-08-24 13:34] bondanherumurti opened #13 "failed to install"
hi, i'm quite new on installing nativeModules, so could you please explain this section
"Then add RNCalendarEvents, as well as EventKit.framework to project libraries.

For iOS 8 compatibility, you may need to link your project with CoreFoundation.framework (status = Optional) under Link Binary With Libraries on the Build Phases page of your project settings."

into a steps?

Thank You

[2016-08-24 13:39] blackPeanut commented on #13
Just type `react-native link react native-calendar-events` in terminal and for better understanding what's going on read about [libraries linking in React-Native documentation](https://facebook.github.io/react-native/releases/0.24/docs/linking-libraries-ios.html#content).

[2016-08-24 13:40] bondanherumurti commented on #13
thank you @blackPeanut !

[2016-08-24 13:45] blackPeanut commented on #13
@bondanherumurti btw, if you will stuck with searching for eventKit & coreFoundation just add them in build phases tab, there is no need and actually possibility to add them to the project files as you will do with react-native-calendar-events in first step.

[2016-08-24 14:28] wmcmahan commented on #12
I've added another method `removeFutureEvents` to handle removing recurring events. I hope it helps. I was also seeing the error above when trying to remove non-existent events. Usually because they were already removed or using an incorrect ID.

[2016-08-24 14:46] bondanherumurti commented on #13
@blackPeanut

i tried to test the plugin using this code

[code]

but nothing happened when i hit the button, did i miss something? or wrong implementation?

[2016-08-24 17:37] #12 closed

[2016-08-25 15:48] wmcmahan commented on #13
@bondanherumurti You will need to request authorization to the calendar before being able  to write/read from the calendar.

[2016-08-26 01:38] RemeJuan commented on #13
I am also experiencing the same lack of anything happening and I am requesting/checking for permission.

`function checkPermissions(event, reminder) {
  RNCalendarEvents.authorizeEventStore(({status}) => {
    if(status.toLowerCase() === 'authorized') {
      return _addToCalendar(event, reminder);
    }

    return AlertIOS.alert(
     'Unable to create event',
     'We need permissiont o access

[2016-08-26 06:54] blackPeanut commented on #12
Thanks, I will try and post a feedback

[2016-08-26 10:41] bondanherumurti commented on #13
@wmcmahan thank you for your answer

[code]

this is working now

[2016-08-26 10:41] #13 closed

[2016-08-26 10:42] bondanherumurti commented on #11
so it is possible now to use a promise now?

[2016-08-26 10:53] bondanherumurti opened #14 "addListener of undefined on NativeAppEventEmitter"
[code]

i keep getting error "addListener of undefined", did i do wrong?

[2016-08-26 13:29] wmcmahan commented on #14
`const {NativeAppEventEmitter} = React;` should be `const {NativeAppEventEmitter} from 'react-native';`. My fault, that was an error in the readme.

The method call looks fine. A couple things to note, you may not want to call `saveEvent` inside the event handler for `calendarEventsChanged` you may end up creating more events than wanted. Also, try attaching the event listener early in the compone

[2016-08-26 13:31] wmcmahan commented on #14
Also, I will be moving off of events in favor of promises, so hopefully attaching listeners won't be needed soon.

[2016-08-26 13:33] wmcmahan commented on #11
Very soon, but not yet. I will update this issue when promises are implemented.

[2016-08-31 14:02] blackPeanut commented on #12
works great, thanks

[2016-08-31 14:20] wmcmahan commented on #11
I've created a branch [1.0.0](https://github.com/wmcmahan/react-native-calendar-events/tree/1.0.0) that contains some changes for moving off callbacks to promises. Still needs a some cleanup, but its there if anyone is interested in testing it out and giving feedback on any issues or improvements.

[2016-09-02 02:47] RemeJuan opened #15 "Event not being emitted"
I have setup the application and followed, and double checked every step.
When hitting the button to add an event, nothing happens, no calendar, no event, no error, nothing.

[code]

What have I missed that makes this work.

Thanks

[2016-09-02 13:15] wmcmahan commented on #15
@RemeJuan, did you add an event listener? There are several [events](https://github.com/wmcmahan/react-native-calendar-events#events) that you can listen for. Note: this will soon change in favor of promises.

[2016-09-02 15:40] RemeJuan commented on #15
Stupid IOS, thanks, little did I know that counter to any form of logic the event simply gets dumped into the calendar without user interaction, like it does on every other platform for the last few decade.

Thanks

[2016-09-02 15:41] #15 closed

[2016-09-06 12:47] sirwoetang opened #16 "Works on iOS simulator, but does not on real iOS device"
Hi,

So the calendar event creation works perfectly in the iOS simulator, but has not worked once when installing to a physical device.

Any ideas?

[2016-09-06 13:26] wmcmahan commented on #16
Hi @sirwoetang, are you seeing any errors? Also, make sure that your application has permission to access the calendar.

[2016-09-09 10:47] sirwoetang commented on #16
When using a time string of format :
`"YYYY-MM-DDTHH:mm:ss.sssZ"`
 by moment it works on both simulator and phone.
Using
`"YYYY-MM-DD'T'HH:mm:ss.sssZ"`
It only works on the emulator.

[2016-09-09 10:47] #16 closed

[2016-09-09 13:16] #14 closed

[2016-09-14 13:13] #11 closed

[2016-09-25 20:25] paulwithap opened #21 "RNCalendarEvents is undefined"
Using React-Native v0.33.0

After running `import RNCalendarEvents from 'react-native-calendar-events';`, RNCalendarEvents is undefined.

[2016-09-25 21:01] wmcmahan commented on #21
Did you link the library? https://facebook.github.io/react-native/docs/linking-libraries-ios.html

[2016-09-25 22:05] paulwithap commented on #21
Working now. I'm not sure what fixed it, but I think it was a common React-Native issue, fixed by deleting and reinstalling npm modules.

[2016-09-25 22:07] paulwithap commented on #21
I am seeing this now, though:

This app has crashed because it attempted to access privacy-sensitive data without a usage description.  The app's Info.plist must contain an NSCalendarsUsageDescription key with a string value explaining to the user how the app uses this data.

I can open a new issue for that if you'd like.

[2016-09-25 22:16] wmcmahan commented on #21
Yeah, looks like it might be specific to IOS 10? But yes, I will update the README about `Info.plist` key value would definitely help. Thanks

[2016-09-27 16:58] #21 closed

[2016-10-07 02:44] miyabi opened #22 "Has calendarEventsChanged event been removed on 1.0.0 or later?"
We need it.

[2016-10-07 13:08] wmcmahan commented on #22
@miyabi, yes from 1.0.0 and up, we are using promises instead of event listeners.

[2016-10-07 21:57] philohelp commented on #13
I get a "cannot read property 'authorizeEventStore' of undefined' too, although I think I've linked the libraries properly. Is there anything else that could provoke that

<img width="694" alt="capture d ecran 2016-10-07 23 55 12" src="https://cloud.githubusercontent.com/assets/12623963/19206513/c355985e-8ce9-11e6-8607-4217555f20e7.png">
<img width="237" alt="capture d ecran 2016-10-07 23 56 23" s

[2016-10-07 22:05] wmcmahan commented on #13
@philohelp you will also need to add RNCalendarEvents under "Link Binary With Libraries" if you haven't already.

[2016-10-07 22:25] philohelp commented on #13
Thanks, it works great now.

[2016-10-09 09:48] IronTony opened #24 "Alert to notify user that the event has been added"
Hi, thank you for the component.
Is there a way to show the user an alert modal confirming that the event has been added successfully to the calendar? And also a modal to say to the user, "Do you want to see the event added in the the caledar?" Yes/No

Thank you in advance

[2016-10-09 15:25] wmcmahan commented on #24
@IronTony, you can render a [modal](https://facebook.github.io/react-native/docs/modal.html) when `saveEvent`'s promise resolves.

[2016-10-09 15:36] IronTony commented on #24
Ahhh me noob. You are right.
Thank you very much to have opened my eyes +1

[2016-10-09 15:46] wmcmahan commented on #24
Great! Glad that helped.

[2016-10-09 15:46] #24 closed

[2016-10-10 03:30] miyabi commented on #22
@wmcmahan I understand it, however, how do I receive the changes of calendar from outside of my app?
Now on 0.1.6, I use calendarEventsChanged to synchronize calendar events when my app becomes foreground like this:

[code]

[2016-10-10 20:11] wmcmahan commented on #22
Thanks @miyabi, I understand now.

If you are wanting to create a module to handle notifications when the EventStore changes, there is an fairly simple way to create a module for it. Here is a [gist](https://gist.github.com/wmcmahan/91bef2d1961e5349167d46b19fa174f8) which might help.

If this would be helpful to have in this project, I can definitely include it. I just thought that it might be bet

[2016-10-11 10:45] miyabi commented on #22
Thank you @wmcmahan , the gist code works fine!

Including notification functionality into this project is convenient for me, but I understand the advantage of the separation you said.

[2016-10-30 09:59] #22 closed

[2016-11-02 21:28] gilesvangruisen opened #25 "Error on Android after call to saveDate"
I commented on #23, but I'm seeing a native error when trying to make a call to `RNCalendarEvents.saveEvent` on Android. cc @lilach

Here's the stack trace, although it probably isn't very insightful.
[code]

[2016-11-03 17:42] Almouro commented on #25
Got the same error, when looking at logs from android studio or `adb`, it comes from a parsing error:
```Unparseable date: "2016-10-01T09:45:00.000Z"```

Could it be the same for you?

[2016-11-03 17:50] gilesvangruisen commented on #25
Interesting! It might well be. iOS version seems to be able to parse it fine, so we should look into why Android is not, and perhaps add a check there to provide some better error message.

Nice catch!

[2016-11-03 18:46] alexprodev commented on #25
I changed the startDate and endDate string format and I passed that error but finally I got the loading screen and it is not disappearing after a while.

[2016-11-07 04:16] sdb1228 opened #26 "List possible calendars to export too"
I think this is more of a feature request, but I would love the ability to select the calendar to save my calendar events to.   I hope to have more time to possibly contribute to this repo, but something I would like to see in the next version or so!  You guys rock though and thanks for the library!

[2016-11-07 10:29] lilach commented on #25
Thank you for reporting and investigating it further.
It's a bit strange to me that the date is unparseable, since the expected date format is exactly the same: `yyyy-MM-dd'T'HH:mm:ss.SSS'Z'`.
What I understand from the stacktrace is that an event was not created, thus when trying to get the event ID (using `Uri.getLastPathSegment`) it throws an exception. It is possible it couldn't be created bec

[2016-11-08 00:51] wmcmahan commented on #26
Hey @sdb1228, thanks! This is definitely something I've been trying to get around to, but somehow always slips though. Definitely a needed update.

[2016-11-08 02:45] alexprodev commented on #25
I passed that issue by changing the date format on javascript side like below.
if (Platform.OS !== 'android') {
  return makeUppercase(moment(startDate).utc().format("YYYY-MM-DTHH:mm:ss.SSS") + "UTC");
} else {
  return makeUppercase(moment(startDate).utc().format("YYYY-MM-DTHH:mm:ss.SSS") + 'Z');
}

[2016-11-18 15:03] dylansteck opened #28 "Undefined is not an object"
Hi,
I have been trying for a while to get this module to work in React Native and every time I run
`RNCalendarEvents.authorizationStatus()
  .then(status => {
    // handle status
  })
  .catch(error => {
   // handle error
  });`

I get the error that 'undefined is not an object'

[2016-11-18 15:46] wmcmahan commented on #28
Hey @dylansteck, is this error from iOS or Android? Ensure that this package has been properly setup for [iOS](https://github.com/wmcmahan/react-native-calendar-events#ios) and/or [Android](https://github.com/wmcmahan/react-native-calendar-events#android), then import the library.

```import RNCalendarEvents from 'react-native-calendar-events';```

[2016-11-18 16:55] dylansteck commented on #28
Hey @wmcmahan this is an error in iOS and yes I have it set up properly

[2016-11-18 17:58] wmcmahan commented on #28
OK, if this package has been properly linked this to the project libraries then you should be able to reference it in your JS module. Double check its listed as a library under "build phases".

[2016-11-18 18:05] dylansteck commented on #28
Where would I find Build Phases in XCode or in React Native @wmcmahan

[2016-11-18 18:14] wmcmahan commented on #28
If you click the main project file in XCode, you will see "Build Phases" in the top bar. The docs give some images to help easily find it > https://facebook.github.io/react-native/docs/linking-libraries-ios.html

[2016-11-18 18:18] dylansteck commented on #28
Yep it's in there

[2016-11-18 18:42] wmcmahan commented on #28
Hmm, other than restarting the React Packager and Simulator, could you post the full error message as well as the JS code?

[2016-11-18 19:15] dylansteck commented on #28
Sure:
The error is
`undefined is not an object(evaluating '_reactNativeCalendarEvents2.default.authorizeEventStore')`

and the code is
     `  class WDReactNative extends Component{componentDidMount(){RNCalendarEvents.authorizeEventStore() .then(status=>{// handle status}) .catch(error=>{// handle error});}return (`

and then I have a <View> and some <Text> etc... but right now I'm just trying to

[2016-11-18 20:17] jatsrt commented on #28
Same issue as far as I can tell, everything seems linked right, android is working without a problem,

If I check out RNCalendarEvents it is undefined in iOS, it is defined in Android

[2016-11-18 20:29] jatsrt commented on #28
OK, figured it out.   Using commonJS or other package systems may cause this.

It's the difference on how you define the package in index.android and index.ios

Example to make it work in index.ios.js
[code]

Just need to make it consistent between the two either export default or module.exports

[2016-11-18 20:31] jatsrt commented on #28
Come to think of it, this change is easier:

[code]

[2016-11-18 20:48] dylansteck commented on #28
Ok thanks, which one of the two would make it easier for me to get calendar events authorized @jatsrt

[2016-11-18 20:51] jatsrt commented on #28
So the pull request is merged, you can check it out.
index.ios.js was changed.
If you have that change locally, you should be able to follow the readme and you will not get the "undefined" error.

[2016-11-18 21:30] dylansteck commented on #28
Ok so the index.ios.js in this case is the prerequesite to work the module then I can authorize etc? @jatsrt

[2016-11-18 22:19] wmcmahan commented on #28
@dylansteck, I've published a patch to NPM. You can pull that patched version now.

[2016-11-19 04:45] dylansteck commented on #28
Ok it seems like the module is showing but it keeps showing undefined function when I try to run ` componentDidMount(){
    RNCalendarEvents.authorizeEventStore()
  .then(status => {
    // handle status
  })
  .catch(error => {
   // handle error
  });
   }`

[2016-11-20 12:35] geldarhb commented on #28
@dylansteck @jatsrt @wmcmahan I had the same problem when calling the _authorizationStatus_ method. I fixed it by changing the import statement I had in my code from:
`var RNCalendarEvents = require('react-native-calendar-events');`
To:
`var {
    RNCalendarEvents
    } = require('NativeModules');
`

[2016-11-20 15:21] wmcmahan commented on #28
@geldarhb You can also use the module import syntax, instead.

[code]

[2016-11-30 19:03] Prudwell opened #30 "Fetch event by ID"
Hello I was wondering if there are any plans to add a method to fetch an event by its ID. I have a use case where I want to be able to query an event to see if it exists by the ID as I won't know if the current date stored on my device is correct and can't use it in the fetch-all-in-date-range method. My app will have support for multiple devices, offline mode, and synching via webserver, so I'm i

[2016-12-02 16:42] wmcmahan commented on #30
Hey @Prudwell - Yes, i agree that being able to find an event by ID from storage is needed. I will try and add this to the next release. Cheers!

[2016-12-02 16:42] #28 closed

[2016-12-14 14:45] Turboconnard opened #31 "[Android] Multiple "allday events""
Hey, I have a problem with the allday attributes.
If I save an event from Monday 0:00 to Tuesday 23:59 with the "allday" attribute, the event is only registered for Monday. Tuesday is ignored -this works well on IOS-.

I don't know if it's the way android calendar works but if I remove the allday attribute on my default HTC calendar the Monday event is automatically flagged "allday" and the Tuesda

[2016-12-14 16:52] pierre-moire commented on #26
That would be great, I added a $5 bounty on this :) https://www.bountysource.com/issues/39014115-list-possible-calendars-to-export-too

[2016-12-14 16:56] pierre-moire opened #32 "Add ability to update/delete/fetchAllEvents events on Android too"
That is definitely a must have

[2016-12-15 22:43] wmcmahan commented on #31
@Turboconnard I'm currently able to create all-day events and have not been able to reproduce this. Also, make sure you are using the correct case for the "allDay" property name.

[2016-12-15 22:45] wmcmahan commented on #32
Thanks @pierre-moire, I have a local branch with some of these changes. I'm hoping to push it out in the next day or two.

[2016-12-16 19:31] wmcmahan commented on #32
now included in version 1.2.0

[2016-12-16 19:31] #32 closed

[2016-12-16 19:32] wmcmahan commented on #30
Now included in version 1.2.0

[2016-12-16 19:32] #30 closed

[2016-12-16 20:24] #25 closed

[2016-12-28 18:27] mbenjamin618 opened #33 "Unable to require with NodeJS testing"
When trying to run a test I receive the Error:

"Cannot find module 'react-native-calendar-events'"

I believe the reason for this error is there is no main file specified in package.json and the normal require resolver does not know how to handle index.ios.js vs index.android.js.

[2016-12-30 13:36] wmcmahan commented on #33
@mbenjamin618 Yeah, a single, non-platform specific entry might be better for this package anyway. I will look into resolving this. Thanks

[2017-01-05 18:34] JonathonJulian opened #34 "ios(sim) - Application closes when executing RNCalendarEvents.authorizeEventsStore()"
Hi
I'm using a simulator running iOS 10.2 (iPhone6). When RNCalendarEvents.authorizeEventsStore() is run the application closes and produces no errors.. when i check authorized status is shows as undetermined.
using the code from the readme

RNCalendarEvents.authorizeEventStore()
  .then(status => {
    // handle status
  })
  .catch(error => {
   // handle error
  });

[2017-01-05 18:35] JonathonJulian commented on #33
my  linter was also complain about this, i had to use the absolute path to the js file for my platform

[2017-01-05 19:49] #34 closed

[2017-01-05 19:49] JonathonJulian commented on #34
I needed to update Info.plist :s

[2017-01-12 20:06] amanthegreatone opened #36 "saveEvent returning id 0"
Hi,

This is my addCalendarEvent function

[code]

In the console I get the following results:

![screen shot 2017-01-13 at 1 34 10 am](https://cloud.githubusercontent.com/assets/24354452/21906223/7177a610-d930-11e6-9ba9-a9ed27f76ab3.png)

As you can see the event id is 0 from the saveEvent Promise and no event is added as can be seen from the fetchAllEvents result also.

Can someone help me under

[2017-01-12 22:11] amanthegreatone opened #37 "iOS simulator alert not working"
Hi,

Got the code to write an event in the calendar and the calendar event does show an alert of 30 min before but I did not get any alert message. Am I missing something? On Android device the same code gives a nice alert notification.
My first time dabbling with iOS so don't know if this is how it is in simulator.

RN 0.40.0
iPhone6 iOS 10.1

[2017-01-12 22:14] amanthegreatone commented on #36
After trying for sometime I switched phones and found that it works on this other phone. Trying to figure out why it is not working on the first one. Both are Android 6.0.1 and syncing to the same google account.

[2017-01-14 16:16] Zamponotiropita commented on #26
That would be really great: to be able to choose to which calendar to export to and also to be able to see in which calendar the event is coming from when fetching all events

[2017-01-14 22:15] wmcmahan commented on #37
Hi @amanthegreatone, not sure if you resolved this yet? Make sure that you have "event alert" enabled for the calendar where the event is saved.

[2017-01-15 16:32] wmcmahan commented on #26
Ok, I found some time this morning to add this in. To find a list of available calendars, use:

[code]

This method will get the Calendar IDs available, as well as name and source. With the specific ID, you can then add it to the options when saving an event. If no `calendarId` property is defined, it will save to the default calendar.

[code]

I hope this helps!

[2017-01-15 16:33] #26 closed

[2017-01-15 16:33] #31 closed

[2017-01-15 16:41] pierre-moire commented on #26
Great!

[2017-01-15 16:54] pierre-moire commented on #26
Don't hesitate to claim https://www.bountysource.com/issues/39014115-list-possible-calendars-to-export-too , I will add other ones for points that matter to me. That will pay some beers to support your work :)

[2017-01-15 17:03] pierre-moire opened #38 "Add ability to subscribe to a remote ics calendar"
It would be awesome if through this library we could add a remote calendar subscription (.ics file for instance).

What do you think about it?

[2017-01-15 17:57] wmcmahan commented on #26
@pierre-moire Thanks, I think I will 🍺

[2017-01-15 18:04] wmcmahan commented on #38
Yes, i think this would be a nice feature! I think for iOS this is somewhat straightforward, but not sure about Android. I will look into though.

[2017-01-16 09:14] ethan605 opened #39 "[Proposals] iOS 8.2 crashes on fetchAllEvents"
### Description

Got `BAD_ACCESS` exception on iOS 8 when invoking `fetchAllEvents`

[code]

[code]

### Solution

Change `NSArray` literal notation into `[NSArray array]` fixes this. I don't know why this happens because array literals notation is supported since Apple LLVM 4.0.

[code]

### Additional Information

    React Native version: 0.39.0
    Platform: iOS 8.2 (12D508)
    Operating Syst

[2017-01-16 16:28] amanthegreatone commented on #37
I will test it out on a real device and update if any issues. Simulator does not seem to give me an alert even when I add an event directly in the calendar. The calendar has event alert enabled and there is only 1 calendar on the sim.

[2017-01-16 22:42] wmcmahan commented on #39
Thanks @ethan605, I've pushed a patch out with this fix included. Cheers!

[2017-01-16 22:42] #39 closed

[2017-01-20 15:05] ArtemKosiakevych opened #40 "findCalendars doesn't work"
![simulator screen shot 20 2017 17 05 23](https://cloud.githubusercontent.com/assets/17948785/22154051/a420c5a8-df32-11e6-8ef8-c0187fc76485.png)

[2017-01-20 16:19] wmcmahan commented on #40
@ArtemKosiakevych, make sure that the package is properly linked version `1.3.2`.

[2017-01-27 14:34] mtt87 commented on #33
If the problem is related to ESlint you can fix adding this to `.eslintrc`
[code]

[2017-01-27 15:05] ryngds opened #41 "Add IS_PRIMARY to "findEventCalendars" for Android"
As an enhancement can you add IS_PRIMARY as an available field for android when fetching calendars. This would allow us to add events to the user's primary calendar.

Thanks,

[2017-01-27 16:30] wmcmahan commented on #41
Thanks @ryngds, good idea. Yes, I can add this field for Android.

[2017-01-30 05:00] EricCarrGH commented on #41
It would also be awesome to add the allowsModifications property to the result to match iOS's result.

Basically, read CalendarContract.Calendars.CALENDAR_ACCESS_LEVEL
and do this:

[code]

Psuedo code above based on this link:

http://stackoverflow.com/questions/36628556/for-calendars-content-uri-how-to-detect-if-calendar-is-read-only

[2017-01-30 16:29] wmcmahan commented on #41
Thanks @EricCarrGH and @ryngds, I've pushed out this change and also updated an incorrect property name correctly from `calendarId` to `calendar`, per the readme. You should now find the members `isPrimary` and `allowsModifications` in the results.

[2017-01-30 16:29] #41 closed

[2017-02-01 05:48] EricCarrGH commented on #41
Thanks Will!

[2017-02-01 17:19] amanthegreatone commented on #36
Started work on another module. I will try this and update with the results soon. Thanks

[2017-02-09 14:54] franleplant opened #44 "fetchAll and recurring events in Android"
Hi! Thanks a lot for your library.

I've double checked this behavior in at least two android devices.

Expected: `fetchAll` should fetch all events in all calendars
Actual: `fetchAll` is not fetching the recurrent events in all calendars

It fetches correctly all events but recurring ones.

Is there something am I missing or is this an actual bug?

Thanks a lot!
Fran

[2017-02-09 16:29] wmcmahan commented on #44
Hey @franleplant, I believe that this is expected for Android when reading from the [CalendarContract.Event](https://github.com/wmcmahan/react-native-calendar-events/blob/master/android/src/main/java/com/calendarevents/CalendarEvents.java#L132-L162) table. I think that reading from the `CalendarContract.Instances` would successfully find all instances from the query. The current response should re

[2017-02-09 16:38] franleplant commented on #44
So right now I am not receiving those events from `fetchAll`, what is your suggestion to fix this then?

[2017-02-09 19:21] wmcmahan commented on #44
Just to clarify, the results are all non recurring events, i.e. nothing assigned to the `recurrence` key such as 'daily', 'weekly', etc?

[2017-02-13 08:13] soorajvnair opened #45 "Unable to save events in Android, event values must include a calendar _id error."
Hey @wmcmahan Facing this issue in Android, RN 0.40, Android 6.0, as per my understanding, if you do not specify a calendar id, the default device calendar is used, but unfortunately, i'm getting this error. Any ideas?
![screen shot 2017-02-13 at 1 37 03 pm](https://cloud.githubusercontent.com/assets/4268932/22875434/aec2e73a-f1f1-11e6-8f9c-896ef22e5eb2.png)
Worked like a charm in IOS, and btw Gre

[2017-02-13 14:03] franleplant commented on #44
Exactly, the `recurrence` key is always the empty string and the events are all non-recurrent. Other way of putting it is that `fetchAll` is not returning instances of recurrent events.

[2017-02-13 14:19] wmcmahan commented on #45
Hey @soorajvnair, yes looks like that is a bug. I will push out a fix for that today. Thanks!

[2017-02-13 14:27] wmcmahan commented on #44
Hey @franleplant, I'm not able to reproduce this. Can you show how you are creating a recurring event and how you are fetching these events?

[2017-02-13 15:20] soorajvnair commented on #45
Thanks @wmcmahan !!.

[2017-02-13 17:06] franleplant commented on #44
Hi! This is all the data I could gather:

This is a recurring event that happens every Wednesday (I've omitted some details for privacy reasons)

![screenshot_20170213-130525 1](https://cloud.githubusercontent.com/assets/1852455/22893635/ffba9c34-f1f4-11e6-8729-dfd5cc99bba1.png)

![screenshot_20170213-130952](https://cloud.githubusercontent.com/assets/1852455/22893646/0b068d46-f1f5-11e6-9ff6-7dea3

[2017-02-13 17:37] wmcmahan commented on #44
Thanks @franleplant, I believe I see what the problem is. Recurring events (without an end date) cannot be found by the queries start and end date bounds. I should have a solution out for this later today. Thanks for reporting it!

[2017-02-13 18:14] wmcmahan commented on #44
Ok, i've pushed out a patch (1.3.5) for this. Hopefully this should now pull recurring events properly. Let me know if you run into any bugs. Cheers!

[2017-02-13 18:14] #44 closed

[2017-02-13 18:14] wmcmahan commented on #45
@soorajvnair, this fix is now out on release 1.3.5. Thanks!

[2017-02-13 18:14] #45 closed

[2017-02-13 19:33] franleplant commented on #44
Thank you very much for your help and support!

[2017-02-13 21:31] wmcmahan commented on #44
Glad I could help. 👍

[2017-02-22 15:55] AndrewMigal opened #46 "NativeModules.CalendarEvents return "undefined"."
For me in Android CalendarEvents.java didn't added to Native Modules. So `var CalendarEvents = NativeModules.CalendarEvents` call in React library returns undefined.
Set up properly.
Version:
react-native-cli: 2.0.1
react-native: 0.41.2

[2017-02-22 17:14] #40 closed

[2017-02-22 22:05] #46 closed

[2017-03-04 01:37] irfanayazfm commented on #34
@JonathonJulian What update specifically?

[2017-03-04 15:36] wmcmahan commented on #34
@irfanayazfm There is a short description in the [readme](https://github.com/wmcmahan/react-native-calendar-events#ios).

[2017-03-06 16:59] rdewolff opened #47 "Google Cal & Exchange"
Hello

First, thanks for building such a react-native code and share it.

Will it find calendars and thus events of Google Calendar and MS Exchange calendar if the device has them configured?

Cheers!

[2017-03-06 18:09] wmcmahan commented on #47
Thanks @rdewolff, yes it should be able to find those events. Using the `findCalendars` method, you can see the calendars available.

[2017-03-08 11:42] jasan-s opened #48 "Getting authorization to Calender(question)"
Sorry if this a naive question, First time developing react-native app. In android I would normally declare permission required in manifest,     `<uses-permission android:name="android.permission.READ_CALENDAR" />`, So even with this I would still need to use `authorizeEventStore` to get secondary permission?, or is it only necessary  if the user denied it initially and at run time you want to off

[2017-03-08 14:25] wmcmahan commented on #48
Hey @jasan-s, since Android Marshmallow, run-time permission requests for "dangerous" permission must be explicitly accepted by the user. [*Source](https://developer.android.com/training/permissions/requesting.html). So I believe its not really a secondary permission, its just a change in how/when user accepts permissions on Android (API 23).

[2017-03-08 14:36] #48 closed

[2017-03-10 20:59] guilhermemello opened #49 "Error getting default calendar for new events"
Hi,
I'm getting this error:

Error getting default calendar for new events: Error Domain=EKCADErrorDomain Code=1013 "(null)"
2017-03-10 17:58:17.542 [info][tid:com.facebook.react.JavaScript] errorError: No calendar has been set.

Already linked the libraries on XCode.

Can I solve this problem ?
Thanks.

[2017-03-10 21:33] wmcmahan commented on #49
@guilhermemello, you will need to authorize access to the calendar for trying to access it. You can use the `authorizeEventStore` method to prompt authorization.

[2017-03-14 00:36] mienaikoe opened #50 "Add autoformatting for dates"
Hey all. Really useful library, and I've loved it so far.

One thing I've found that was a little annoying at first was having to format the start and end date strings when saving an event. I've made a decision to avoid moment.js as I really don't do a lot of work with dates in my app, and I didn't want the extra code size. I also found out the hard way that react-native-calendar-events requires s

[2017-03-14 11:13] guilhermemello commented on #49
@wmcmahan you're right man.
Thanks for the support.

[2017-03-14 11:13] #49 closed

[2017-03-14 13:36] wmcmahan commented on #50
Hey thanks, @mienaikoe. React Native handles converting these dates values to native over the native bridge, so we lose some control over what or how things get parsed. You could use your date object's 'getTime' to get a unix timestamp or 'toISOString' method to give you an ISO formatted string. Either should work.

[2017-03-14 16:54] nbastoWM opened #51 "FindCalendars not listing calendars on iOS"
Hi,

On Android I can list all my device calendars, even the "Contacts" calendar. But on iOS the FindCalendars returns an empty array. I tried on different iOS devices configured with iCloud and Google calendars but the list is always empty.

My code:

[code]

[2017-03-14 17:18] wmcmahan commented on #51
Hey @nbastoWM,  the 'authorizationStatus' method returns the current authorization status. To set the authorization status you must use the 'authorizeEventStore' method.

[2017-03-15 09:45] nbastoWM commented on #51
Thanks!
I thought authorizationStatus would already ask for calendar permission.

[2017-03-15 09:45] #51 closed

[2017-03-22 11:56] mehdyMa opened #52 "Error: No calendar has been set."
Hey all,
I am trying to add events to the user calendar via my React Native app.
But I am getting an error saying No calendar has been set after calling RNCalendarEvents.saveEvent (), and when trying to request calendar authorization with RNCalendarEvents.authorizeEventStore()
my app crashes.

Regards,
Mehdi

[2017-03-22 13:44] wmcmahan commented on #52
Hey @mehdyMa, is this on iOS? If so, make sure you update the your app's [plist](https://github.com/wmcmahan/react-native-calendar-events#ios) (referenced at the bottom of this paragraph). Then you should be able to successfully authorize and save events.

[2017-03-22 14:35] amanthegreatone commented on #36
yes this works. Didn't know promises when I asked the question but now I have the hang of it.
Thanks :)

[2017-03-22 14:36] #36 closed

[2017-03-22 14:44] EricCarrGH opened #53 "Unable to delete calendar in Android (with fix)"
Hi,

I was receiving an error when deleting an event in Android using the removeEvent() call.

I fixed it by passing **null** instead of **selection** in the second param to cr.delete, in CalendarEvents.java:

Old
[code]

Fixed
[code]

Please review to include in a later release. I found this solution by googling - I am not an expert on Android calendars.

[2017-03-22 15:01] mehdyMa commented on #52
@wmcmahan Hey,
Yeah thank you man, it worked for me 👍  :)

[2017-03-22 15:01] #52 closed

[2017-03-22 22:01] wmcmahan commented on #53
Hey @EricCarrGH, I believe this bug has already been fixed. Are you on v1.3.6?

[2017-03-22 23:22] EricCarrGH commented on #53
Indeed, it is fixed in the latest. Thanks!

[2017-03-22 23:22] #53 closed

[2017-03-23 14:07] tomerlevi444 opened #54 "(Android) Calendar events appear as birthdays"
on Android Nougat, events that are added to the calendar show as birthdays

[2017-03-23 16:07] wmcmahan commented on #54
Hey @tomerlevi444, are you specifying the calendar id when saving?

[code]

[2017-03-24 18:46] Prudwell opened #55 ""No Calendar has been set" after authorization until App is restarted"
I'm on iOS and in my app I authorize the calendar store, but I cannot set events until I restart the app. It still acts like the calendar system has not been authorized when I try to add events directly after authorization. Is there some way I'm supposed to reinitialize the calendar object so that it can properly see the new settings?

Cheers

[2017-03-24 20:42] wmcmahan commented on #55
Hey @Prudwell, are you waiting for the `authorizeEventStore` methods promise to fulfill before trying to save the event?

[2017-03-24 21:28] Prudwell commented on #55
Yes sir, the render function shouldn't even display the option to save a new event unless the authorizeEventStore has fulfilled as authorized in the componentDidMount

[code]

[code]
Even more strange is that this appears to be intermittent (oh joy). I can delete that app in simulator, reinstall it via xcode, complete the `authorizeEventStore()` action, and sometimes it works right away, other tim

[2017-03-24 22:12] Prudwell commented on #55
Alright it seems to be caused by another part of my code that's running on an interval. When my app starts up, it attempts to sync events that it sees in its own database with the events stored in iOS calendar events. That interval attempted to read and save events with no regard for `authorizationStatus()` and when those failed it somehow made it impossible to save events even after I completed `

[2017-03-24 22:12] #55 closed

[2017-03-26 11:12] tomerlevi444 commented on #54
No, is it required?

[2017-03-26 14:29] wmcmahan commented on #54
Without specifying the calendar id, it will save to the default calendar. You can use `findCalendars` to see the available calendars on the device. Then assign the calendarId property with the desired calendar.

[2017-03-26 15:05] tomerlevi444 commented on #54
Although I specify a startDate and endDate for the event, the default calendar on Android Nougat still shows it as a full-day birthday event. Are you suggesting it's a problem with Android Nougat's default calendar?

[2017-03-26 15:53] wmcmahan commented on #54
I would recommend explicitly defining the calendar you want to save to.

[2017-03-26 19:09] amanthegreatone commented on #54
just want to know how would you distinguish between all the available calendars? is there any way to get a user input on their choice where they would like to save the events?

[2017-03-26 19:27] wmcmahan commented on #54
@amanthegreatone, you can find the available calendars with the [findCalendars](https://github.com/wmcmahan/react-native-calendar-events#findcalendars) method.

[2017-03-26 19:39] amanthegreatone commented on #54
yeah i found that, but there is no way to know the preferred calendar for the user. Default calendars might not always be the best option for an app, so wanted to know if there is a way to ask the user for their preference. Or is there a way to create a calendar named after the app as another option?

[2017-03-26 20:12] wmcmahan commented on #54
Using the findCalendars method to present the user with calendar options and storing the choice for future use is one way to handle it. Creating a specific calendar for the app is another, although outside the scope of this lib.

[2017-03-28 09:04] qmegas opened #56 "Fatal Exception on event adding"
My application stop working when I try to add new event into calendar.

Here call example:
[code]
Here the exception description from logcat:
[code]

Library version: 1.3.6
React Native: 0.42

[2017-03-28 16:54] wmcmahan commented on #56
Hey @qmegas, does your device have any calendars setup? My guess is that its trying to save to a nonexistent calendar.

[2017-03-28 17:07] qmegas commented on #56
Hey @wmcmahan,
Yes, it have. For example `fetchAllEvents` function works fine.

[2017-03-28 17:47] wmcmahan commented on #56
Oh, I see. You need to be using `startDate` and `endDate` keys. You are currently using `startTime` and `endTime`.

[2017-03-29 07:24] qmegas commented on #56
@wmcmahan, Yes you right. That what caused the application crash.
In my opinion it should be handled in java code and return an error by promise.reject

In addition (according to ISO 8601) if I provide time in a little different format like that `2017-03-30T10:30:00-04:00`, but not `2017-03-30T10:30:00.000Z`, I receive promise reject error `Unparseable date: "2017-03-30T10:30:00-04:00"` however ap

[2017-03-29 10:48] tomerlevi444 commented on #54
Thank you.

[2017-03-29 10:48] #54 closed

[2017-03-29 10:51] xavierlefevre opened #57 "[iOS] Working in debug but error when deployed (hockey app)"
Hello,

I'm having a little issue hard to debug.

React native calendar events works quite well on my dev env but once the app deployed through hockey app, the add to calendar does not work on iOS and leaves me with an error.

Find below a screenshot of the error:
![img_8311](https://cloud.githubusercontent.com/assets/14938214/24451246/4de4c0b4-147e-11e7-8335-a7953392e4b9.PNG)

Like that for the m

[2017-03-30 00:43] wmcmahan commented on #56
@qmegas, for date formatting you can do something like this:

[code]

Not very clean, though. I will try to develop a better way to handle various date formats.

[2017-03-30 02:03] wmcmahan commented on #57
Hi @xavierlefevre

What iOS version are you running in your dev environment and what iOS version is the device in the screenshot? Most of the crashes that I've seen when saving an event on iOS have been due to iOS 10 requiring a Info.plist value for the calendars usage permission.

[2017-03-31 16:11] tonatiuh opened #58 "Create event with alert/travel time set"
I checked the documentation, but I didn't see a way to save and event (https://github.com/wmcmahan/react-native-calendar-events#saveevent) with an alert set (for ex. "2 hours before the event") and/or travel time (ex. "5 minutes").

Does this package support passing parameters for that?

[2017-03-31 16:25] wmcmahan commented on #58
@tonatiuh is this what you're looking for? [Create Calendar Event with Alarm](https://github.com/wmcmahan/react-native-calendar-events#create-calendar-event-with-alarms)

[2017-03-31 17:20] tonatiuh commented on #58
Absolutely, thanks!

[2017-04-01 04:37] tonatiuh commented on #58
Any plan to add support for the "Travel time" setting soon?
<img width="378" alt="screen shot 2017-03-31 at 10 36 20 pm" src="https://cloud.githubusercontent.com/assets/602727/24575429/8cd1bcec-1662-11e7-8a4b-da47840faf28.png">

[2017-04-01 18:20] wmcmahan commented on #58
@tonatiuh, I believe the native iOS calendar "travel time" UI is simply adjusting the alarms relative offset based on selected amount of time (or estimated time travel time, if a location is set). This can be achieved by simply updating or saving an event with the alarm date calculation as an offset like:

[code]

[2017-04-03 23:56] wmcmahan commented on #57
@xavierlefevre, it seems you have the usage permission set if its running of iOS 10.3 in the simulator. I've not been able to reproduce a crash from my phone, although I'm installing directly from XCode. Unfortunately, It's difficult to identify the source of the crash with symbolicated logs.

[2017-04-27 00:43] jasan-s commented on #5
The simulator crashes still without core Foundation framework in ios 10.3.

[2017-04-27 14:04] lucasbento opened #59 "Add demo on README"
A simple gif of the package working would be great.

[2017-04-27 14:23] wmcmahan commented on #59
Hi @lucasbento, what would you recommend showing? This is really just an API wrapper and no UI is involved.

[2017-04-27 14:32] lucasbento commented on #59
Perhaps adding a `example` folder with a working project and show it working may be a good addition.

[2017-04-27 14:53] wmcmahan commented on #59
Ok, thanks for the feedback @lucasbento. I will try put together an example for reference.

[2017-04-28 09:16] misogl commented on #50
`toISOString` works on both Android and iOS. Unix timestamps returned by `getTime` are supported only on iOS.

[2017-04-28 17:40] mienaikoe commented on #50
So I can't use ISO because I need to conserve the timezone used by the phone, hence my problem.

[2017-05-05 10:03] zalesky opened #62 "Is that possible to saveEvent not as a birthday in Android default calendar?"
"react-native-calendar-events": "1.3.6"
"react-native": "0.41.2"

I'm using Android 6.0.1 device and this code
[code]
returns Array with Objects structured:
[code]
If I write calendarId (I tried all id's) when save event my app shutting down and not save event.
If I not write it, the event appears as birthday (like in https://github.com/wmcmahan/react-native-calendar-events/issues/54)
Code that sa

[2017-05-05 13:24] wmcmahan commented on #62
Hi @zalesky, when you save the event like this, it crashes? Note, calendarId is a string.

[code]

[2017-05-05 14:10] zalesky commented on #62
@wmcmahan 10q a lot for answer. Specifying calendarId as a string solves problems with birthday looking and at first sight whith disappearing events 😃  great👏

[2017-05-05 14:16] #62 closed

[2017-05-05 20:23] #58 closed

[2017-05-09 12:37] #56 closed

[2017-05-12 04:27] xwartz commented on #50
Any update news for this issue?

[2017-05-13 18:46] kenvandemar opened #63 "How to save multiple events?"
For single event, I save to device without any problems.
But when I try to save many events in the array, it fails.
console complains: TypeError: Cannot read property 'alert' of undefined
Here is my Code:

[code]

[2017-05-13 20:55] wmcmahan commented on #63
From the error, it looks like `AlertIOS` is undefined in your code.

[2017-05-14 05:47] kenvandemar commented on #63
Well, it is already defined on top. As I said, everything work well with single event, but not with multiple. Please help!

[2017-05-15 13:42] wmcmahan commented on #63
Ok well, i'm assuming that this code is for iOS. Are there any errors logged in XCode's console? Did the application crash when trying to save multiple events?

Since this is a TypeError, I would suggest looking through your code and trying to resolve the undefined object.

[2017-05-15 14:18] kenvandemar commented on #63
The good news is when I remove AlertIOS.alert, it saves events successfully. Tomorrow, I will try to use other method to tell user about the result. Let see how.

[2017-05-15 15:15] #63 closed

[2017-05-18 06:35] amanthegreatone opened #64 "allDay error on Android"
Hi,

Getting an error on Android when setting allDay: false. The event is getting created but on the emulator the app quits, on the device the app doesn't quit but the error stacktrace is the same.

Android Genymotion emulator (Android 7.0) / Device OnePlus (Android 6.0.1)
RN 0.44.0
Calendar-Events 1.3.6

error stacktrace from android studio:

[code]

[2017-05-20 18:50] RyanWan opened #65 "npm install"
In the readme, it says we need
`npm install react-native-calendar-events `
to install the library, in fact we need to say
`npm install react-native-calendar-events --save`
I am new to react native, and this costs me some time to figure it out. Can you update ReadMe so that it won't confuse other people

[2017-05-22 03:26] #65 closed

[2017-05-24 02:07] RyanWan opened #66 "cannot set when recurring event ends"
`RNCalendarEvents.saveEvent('title', {
    location: 'location',
    notes: 'notes',
    startDate: '2017-05-20T19:26:00.000Z',
    endDate: '2017-05-20T20:26:00.000Z',
    alarms: [{
      date: -1 // or absolute date - iOS Only
    }],
    recurrence: 'daily'
  })`
This will create a recurring event from 19:26 to 20:26 daily. And it goes on forever.
In your RNCalendarEvent.m, you set the end dat

[2017-05-24 13:44] wmcmahan commented on #66
Thanks @RyanWan. Yes, you're correct. Its looks like it could use some parameters. The same for Android, as well. I will look into creating something like `recurrenceInterval` and `recurrenceEnd` as optional params.

[2017-05-24 13:45] wmcmahan commented on #64
Thanks @amanthegreatone, I will try to get this fix in the next release.

[2017-06-05 03:21] vTrip commented on #21
Hi @paulwithap @wmcmahan I have that iOS10 specific issue with the app's info.plist - I went into Xcode and added 'Privacy - Calendars Usage Description' key with string value '$(PRODUCT_NAME)'

This was done after doing 'react-native link' after installing the module via npm.

I closed down all react-native processes and restarted them to ensure the module was present and linked but still couldn'

[2017-06-09 09:34] alan-zetland opened #68 "fetchAllEvents does not return multi-day events started before the start date"
Hi, I'm using this code as part of a rect-native app to display calendar events in a smart mirror - I've successfully retrieved the events, however I notice that it does not return any events that started before the "startDate" but are still ongoing.

Really simple code of course (I've hard-coded the dates for the example):

`RNCalendarEvents.fetchAllEvents("2017-06-08T00:00:00.000Z", "2017-06-12T

[2017-06-09 14:42] wmcmahan commented on #68
Hi @alan-zetland, it sounds like you need to create recurring events in the this case. By doing so, the start date should query the recurring instance's start date.

Ex:
[code]

[2017-06-09 15:09] zalesky commented on #68
@wmcmahan It's really great feature. Can you tell when it be available for Android?

[2017-06-09 15:52] zalesky commented on #66
@wmcmahan https://tools.ietf.org/html/rfc5545#section-3.8.5.3
Need to set parameter UNTIL= here https://github.com/wmcmahan/react-native-calendar-events/blob/master/android/src/main/java/com/calendarevents/CalendarEvents.java#L410

[2017-06-09 16:10] wmcmahan commented on #68
Hey @zalesky, hopefully soon. I just need to make time to get both iOS and Android recurrence rules at parity. The final structure will look something like:

[code]

[2017-06-09 16:12] wmcmahan commented on #66
@zalesky, yep. In the works, along with some other updates!

[2017-06-09 17:16] alan-zetland commented on #68
Hi, thanks so much for getting back to me - I see what you are saying about recurring events, but that kind of clashes with the user experience - when creating a multi-day event, I don't think anyone would think of creating it as a recurring event across a number of days.  For example, if I add a calendar event of "going on holiday" that lasts 3 weeks, I would simply set a start and end date of th

[2017-06-09 18:22] wmcmahan commented on #68
Yes, I see your point. Currently, the query searches by a hard start and end date, not to be confused with all events that overlap these dates. You could adjust the query in the Android code [here - L139](https://github.com/wmcmahan/react-native-calendar-events/blob/master/android/src/main/java/com/calendarevents/CalendarEvents.java#L139) to account for events that touch or overlap a timespan.

[2017-06-09 20:02] alan-zetland commented on #68
Thanks again for getting back to me - yes that was the point in the native code where I thought I would have to add some extra logic.  I'll give it a shot and let you know if it turns into something that can be merged back in eventually.

[2017-06-12 07:14] zalesky commented on #66
@wmcmahan Can you give me advice how can I fast fix this on Android? It can be not very clear solution but for now it ok.

[2017-06-12 13:58] wmcmahan commented on #66
@zalesky I push a new [android-recurrence](https://github.com/wmcmahan/react-native-calendar-events/tree/android-recurrence) branch with WIP changes for creating and reading recurrence rules. Hopefully this can help until I can get the next release out.

[2017-06-24 02:19] wmcmahan commented on #66
These changes are now in 1.4.0.

[2017-06-24 02:19] #66 closed

[2017-06-24 02:21] wmcmahan commented on #64
A fix for this in now in 1.4.0.

[2017-06-24 02:21] #64 closed

[2017-06-24 02:26] wmcmahan commented on #50
iOS and Android should now allow for timestamps as well as ISO strings in 1.4.0. Closing for now, but please reopen issues are found around this.

[2017-06-24 02:26] #50 closed

[2017-06-27 11:53] vseprav opened #70 ":react-native-calendar-events:compileReleaseJavaWithJavac FAILED"
After update to version 1.4.0 I got error when run `cd android && ./gradlew assembleRelease`
[code]
## My dependency
"react-native": "0.41.2",
"react-native-calendar-events": "1.4.0"

[2017-06-27 14:19] wmcmahan commented on #70
Hey @vseprav, I'm not exactly sure why its not finding the Dynamic class. If you have not already tried, run `./gradlew clean` before `./gradlew assembleRelease`.

[2017-06-29 08:20] mariapotashnyk commented on #70
I have the same error
./gradlew clean before ./gradlew assembleRelease does not help

[2017-06-29 09:03] vseprav commented on #70
switched to 1.3.6 version and all works

[2017-06-29 15:01] wmcmahan commented on #70
@vseprav @mariapotashnyk I think the class Dynamic was introduced in React Native's 0.42.0 release. If possible, you can try updating your version of React Native to gain reference to the new class. I will also make a note in the readme.

[2017-07-02 06:52] 3DEsprit commented on #59
I have to agree with this.

As someone who simply jumped into this functionality with this module as an introduction, the documentation didn't offer much in terms of explanation of use/expectations, and while the examples offered working snippets, someone new wouldn't be able to truly understand since there is little feedback after the methods are run. Overall, it is quite hard to know what to exp

[2017-07-03 13:40] shakyShane commented on #57
@xavierlefevre make sure you're encoding the date correctly

I noticed in debug mode (when your JS is being executed by V8) the date is serialised differently, this will be why it crashes in prod, but not in debug.

I fixed our issue by doing `new Date(someTimestamp).toISOString()` on the date property

[2017-07-12 17:48] rdewolff commented on #47
Thanks for your reply!

[2017-07-28 02:34] blozano824 commented on #59
I can't really get this module to work and a working example would be lovely. thanks!

[2017-07-30 00:53] 3DEsprit commented on #59
@blozano824 I wrote a [quick article](https://networksynapse.net/quick-introduction-to-react-natives-calendar-events/) for this reason alone. I hope that helps for the time being.

[2017-08-07 09:21] ethan605 opened #72 "[iOS] Error: calendar event request error"
Hi, I've encountered this error in iOS only, Android just works fine

![simulator screen shot aug 7 2017 4 05 05 pm](https://user-images.githubusercontent.com/1215541/29020446-3599bf30-7b8c-11e7-8c1c-dff5974f293a.png)

I've added permissions in Info.plist for `NSCalendarsUsageDescription` key and got `authorized` for `authorizationStatus()`.

Here's my code which is rejected:

[code]

This is very

[2017-08-09 01:28] ethan605 commented on #72
Hi @wmcmahan, any update for this issue?

[2017-08-09 09:53] wmcmahan commented on #72
@ethan605, I will take a look. Looking at the dates, they are the same. Could you try a longer date span? There may be an issue with empty results.

[2017-08-09 10:07] ethan605 commented on #72
@wmcmahan wow you're right. When I extend the time range to include at least 1 event, it works just fine.

So I think there's an accepted workaround here:

[code]

[2017-08-09 10:16] wmcmahan commented on #72
Yes, you will need to catch the error. Its [here](https://github.com/wmcmahan/react-native-calendar-events/blob/master/RNCalendarEvents.m#L649) that is causing the false error. If no events are found, it returns `nil` rather than an empty list, unfortunately.

[2017-08-09 10:18] ethan605 commented on #72
Thanks, I think it should return an empty list, or a more verbose error message. Hope that this will be resolved in the next update.

[2017-08-09 10:18] #72 closed

[2017-08-11 15:01] itswaze opened #74 "App crashing on Android"
The app crashes on Android when trying to add an event to the calendar.
On iOS it works fine. Already linked and did all those steps.

[2017-08-16 04:03] hans0low commented on #47
How would you save an event to the specific Google calendar?

[2017-08-16 13:26] wmcmahan commented on #47
@hans0low You will need to define a `calendarId` property with the identifier of a calendar.

[code]

[2017-08-16 17:23] hans0low commented on #47
Thanks a ton @wmcmahan! If I were to attach a file (like a jpg) to the event as well, would that file have to be on google drive?

[2017-08-16 17:57] wmcmahan commented on #47
No, unfortunately there is no way to attach files to the calendar event.

[2017-08-16 18:31] hans0low commented on #47
Ahh alright, thanks again!

[2017-08-18 14:46] retdop commented on #46
I've got the same issue. Did you find a find?

[2017-08-18 14:50] retdop commented on #46
Got the same issue, the "react-native link" didn't work properly, I had to do it manually

[2017-08-19 14:06] yhw601071569 opened #75 "The react native module can call Android alarm clock？"
![te d8x g8skt 5 7krdy55n](https://user-images.githubusercontent.com/22049095/29487368-52b09948-852a-11e7-9766-1db44cab66f2.png)，
Does this alarms mean calling the alarm clock? If so, can you set the alarm clock for Android?

[2017-08-19 15:38] wmcmahan commented on #75
Hi @yhw601071569, this sets an alarm for the event on the calendar for both iOS and Android. If I understand your question correctly, it does not set your default "alarm clock" app, but it schedules a notification for the time set.

[2017-08-20 13:15] yhw601071569 commented on #75
thank you ， I understand  it

[2017-08-20 14:37] #75 closed

[2017-08-20 17:53] Sunjiawei58 opened #76 "CalendarEventsPackage is not abstract and does not override abstract method createJSModules() in ReactPackage"
![problem 8 20](https://user-images.githubusercontent.com/13588480/29497052-69f2dc16-85a6-11e7-952c-23a87b38ca2d.png)

I installed the react-native -calendar-events as the instruction on the github page and after I run react-native run-android I got this error. Could anyone tell me how to solve it? My RN version is 0.46.

[2017-08-20 20:23] wmcmahan commented on #76
@Sunjiawei58, if you are using the latest package version, you will need to use RN 0.47+.

[2017-08-21 15:07] derryberni commented on #76
@wmcmahan i meet same problem, my project using react-native 0.46.4 what should i do ?

[2017-08-21 15:39] wmcmahan commented on #76
@derryberni, you can use v1.4.1 until you are ready for RN 0.47+

[2017-08-21 20:33] majd-kho opened #77 "undefined is not an object (evaluating "RNCalendarEvents.authorizationStatus")"
React native version 0.46

I have installed the the module and linked it, but whenever i try to run this piece of code (below) i get this error message "undefined is not an object (evaluating "RNCalendarEvents.authorizationStatus")"
[code]

whats interesting is that its referencing the "authorizationStatus index.ios.js:10:28" file righ under the error message as the cause, but im using a create-re

[2017-08-22 15:23] rodrigooler commented on #70
Here also occurs the error, someone managed to solve?

<img width="726" alt="screen shot 2017-08-22 at 12 19 57" src="https://user-images.githubusercontent.com/5496931/29573159-a5f5c414-8734-11e7-8380-2b51c769c44c.png">

[2017-08-23 13:26] wmcmahan commented on #77
@majd-kho, The most common cause of the module being 'undefined' in iOS is the package is not linked properly. If running `react-native link` is not working, you can try [linking it manually](http://facebook.github.io/react-native/docs/linking-libraries-ios.html#manual-linking). Also, be sure to have your privacy usage description for `Privacy - Calendars Usage Description`  defined in `Info.plist

[2017-08-23 13:33] majd-kho commented on #77
will take a look, thank you

[2017-08-23 13:38] wmcmahan commented on #70
@rodrigooler, v1.4.2 of this package needs the latest RN 0.47 release. For prior releases, you can use v1.4.1.

[2017-08-23 16:37] itswaze opened #78 "[Error] Removing Android event"
When I try to remove an event on Android I get this error:

`TypeError: expected dynamic type `string', but had type `int64' (constructing arguments for CalendarEvents.removeEvent at argument index 0)`

But on iOS works just fine.

[2017-08-23 16:54] wmcmahan commented on #78
@itswaze, it looks like you might be using a number rather than a string as the argument.

[2017-08-23 16:59] itswaze commented on #78
@wmcmahan yep, it was that. Since it worked on iOS I thought it would work on Android.
Fixed :) thank you!

[2017-08-23 17:02] itswaze commented on #78
Just one more question, so I won't open a new issue.

When I try to add an event with:
[code]

on Android, the app crashes. But if I use this:

[code]

it works. But I need to make it work the other way.

[2017-08-23 17:12] wmcmahan commented on #78
Your going to want an ISO date string. With moment, I believe they have an `toISOString` method -
[code]

[2017-08-24 02:32] Sunjiawei58 opened #79 "saveEvent OK but cannot see the event in Android Calendar"
I set up the react-native-calendar-events package,
when I called code below:
 RNCalendarEvents.saveEvent('title', {
            location: 'location',
            notes: 'notes',
            startDate: '2017-08-23T21:20:00.000Z',
            endDate: '2017-08-23T21:22:00.000Z',
            calendar: ['Calendar'],
            alarms: [{
              date: -1 // or absolute date - iOS Only

[2017-08-24 09:11] itswaze commented on #78
that was it :) thank you, keep up the good work!

[2017-08-24 09:11] #78 closed

[2017-08-24 13:01] #37 closed

[2017-08-24 13:01] #33 closed

[2017-08-24 13:11] wmcmahan commented on #79
@Sunjiawei58, is 'Calendar' the calendar ID you want to save to? You can call `RNCalendarEvents.findCalendars()` to find available calendars on the device.

[2017-08-24 17:02] Sunjiawei58 commented on #79
@wmcmahan I called RNCalendarEvents.findCalendars() this morning, and I got a list of events that my calendar has saved. it looks like this:
![image](https://user-images.githubusercontent.com/13588480/29678140-1314793e-88c3-11e7-9b01-4efbceb6f2f0.png)
however still after I called saveCalendars(), I can't find the events in the Calendars app on my emulator device. should I set the calendar attribut

[2017-08-24 17:44] wmcmahan commented on #79
Yes, you should add the calendar ID to this list of calendars you wish to save it to. Also, it looks like only one calendar 'allowsModifications'.

[2017-08-24 17:48] Sunjiawei58 commented on #79
@wmcmahan  Should I add the event with alarm to the calendar that allowsModification?I tried to add the event to the calenders [1,2,3,4,5], and using fetchEvent() function to get the event that just added. but I only got events which is added to the calendar with title "Contacts" and id 1. The wired thing is when I opened the Calendar application on the device, I still can't see the events that I

[2017-08-24 18:13] wmcmahan commented on #79
@Sunjiawei58, have you authorized access to the calendar? You can check the status with
[code]
and request authorization with
[code]

[2017-08-24 18:35] Sunjiawei58 commented on #79
@wmcmahan  Yes, I have added those code, and it returned me the status of "authorized"...

[2017-08-24 19:19] Sunjiawei58 commented on #79
@wmcmahan
![image](https://user-images.githubusercontent.com/13588480/29684280-fa2e29d8-88d6-11e7-876c-3b868e01ebfb.png)
It seems like no matter which calendar I set to save the event to, I can only add event to the calendar with id 1 and title "Contact" which unfortunately not allowModification.
below is my code:
![image](https://user-images.githubusercontent.com/13588480/29684335-34a125c0-88d7-1

[2017-08-24 19:40] Sunjiawei58 commented on #79
@wmcmahan  finally I got it worked!!
![image](https://user-images.githubusercontent.com/13588480/29685118-1591964e-88da-11e7-9720-a151bf57f281.png)
I dig the code and found I should change calendar to calendarId , the code is in below:
![image](https://user-images.githubusercontent.com/13588480/29685156-32170d80-88da-11e7-9476-e2d3f61df959.png)

[2017-08-24 19:57] wmcmahan commented on #79
Ah yes, that is correct. The list of IDs is for lookup. Its been a while since i've used this API myself in a project. Glad you were able to solve it!

[2017-08-24 19:57] #79 closed

[2017-08-25 15:40] martincarrera commented on #77
Hey @majd-kho, I was having the same issue that you have.

Ensure that you have this three libs linked in Xcode, build phases.

<img width="566" alt="screen shot 2017-08-25 at 12 37 56 pm" src="https://user-images.githubusercontent.com/6719062/29721180-8bf2dfe2-8992-11e7-92fe-a60092f32bb3.png">

I hope this helps!

[2017-08-28 10:07] itswaze opened #80 "Programmatically select "selectedOption""
hey!
How can I select a default option, but show it to the user?
When I select one of them programmatically, has a default one, this is what I get:

http://imgur.com/a/QjGaA

But I should be getting this:

http://imgur.com/a/QiDDf

[2017-08-28 10:09] itswaze commented on #80
Wrong library xD

[2017-08-28 10:09] #80 closed

[2017-08-28 16:36] itswaze opened #81 "Updating event does not update recurrence"
Hi!

When I'm updating an event by it's ID I cannot update the recurrence. If previously I selected to repeat each week, when updating, if I choose to never repeat, it won't delete the future events.

Is there any way to update recurrence?

[2017-08-29 13:51] wmcmahan commented on #81
@itswaze, which environment is this, iOS or Android? Did you try editing the "endDate" in "recurrenceRule"?

[2017-08-29 14:13] itswaze commented on #81
Its happening on iOS, haven't tried on Android. I didn't try editing an `endDate` because it's supposed to not have one.

Right now I'm using a workaround. Everytime I edit an event, it deletes the current one (including future events) and I save the new one. Which works perfectly fine for what I need. But I'll try with the `recurrenceRule` when I have more time.

I'm closing for now. Thank you :)

[2017-08-29 14:13] #81 closed

[2017-08-30 11:47] reilem commented on #77
@martincarrera I just had the same issue and this fixed it, thank you very much. I had already tried `react-native link` and that didn't work.

[2017-08-30 15:48] jose920405 opened #82 "How add URL event property"
In your table when you relate all available keys for create the event, i can't see `url` key.

![image1](https://user-images.githubusercontent.com/12536184/29881645-ca5a6ae8-8d70-11e7-9b41-f2fa7141aa48.PNG)

[2017-08-30 17:23] wmcmahan commented on #82
@jose920405, for iOS you can define a `url` property. Looks like it was accidentally left out of the readme.

[2017-09-01 19:44] GroupXTech opened #83 "Android remove recurring events Progress?"
Any idea when you'll be able to finish this?

[2017-09-02 02:46] EdmundMai opened #84 "Error getting calendar item with UUID abc123"
I'm trying to save an event:
[code]

It's printing this:
[code]

[2017-09-02 03:30] EdmundMai commented on #84
I thought ID would be writeable but it isn't. I think it would be a convenient feature to have instead of having to store the calendar event ID we can use the ID of the thing we're saving.

[2017-09-02 03:30] #84 closed

[2017-09-02 21:16] Orion751 opened #85 "Unclear or Incorrect Documentation for notes/description Property"
The README gave me the impression that to target Android, I would use the description property when passing to the settings parameter for saveEvent().

This had no effect, so I glanced through the Java source code to find mention of a notes property, which the README stated to be exclusive to iOS.  Using notes enabled me to use saveEvent() as desired for my Android project, as shown in the code be

[2017-09-02 22:21] wmcmahan commented on #85
Congrats @Orion751, I'm happy to hear that this has been useful in your project! You are correct, it appears that some naming conventions were crossed. `description` should be the correct property when setting this field in Android. This should be updated in master now.

[2017-09-03 14:12] wmcmahan commented on #83
Hi @GroupXTech, `removeEvent` should remove recurring events on Android.

[2017-09-05 02:01] ethan605 opened #86 "Plan to support React Native 0.47?"
Hi @wmcmahan, do you have any plan to support React Native 0.47? Currently it has a `@createJsModules` error when build Android with `0.47`. Is there any workaround for this glitch?

[2017-09-09 02:15] ynsgnr commented on #86
use 1.4.2 version. Its already fixed, just install with @latest in npm

[2017-09-10 01:11] jsochurek opened #87 "Is it possible to change/update an existing event's alarm/reminder?"
Hi, great package, I am having some trouble changing the alarm/reminder on an existing event.  I set it the first time, and it works fine, then i update the event with the same data but the alarms different, and the reminder stays the same.  Every other field appears to update accordingly. Thoughts? Has anyone been able to accomplish this and I'm just missing something?

Thanks

[2017-09-11 03:01] #86 closed

[2017-09-11 14:29] #85 closed

[2017-09-11 14:30] #82 closed

[2017-09-11 14:37] wmcmahan commented on #87
Hi @jsochurek, is this issue for iOS, Android or both?

[2017-09-11 14:41] jsochurek commented on #87
I've currently only tested on Android thus far.  some code for context:

`let settings = {
        notes: appointment.title,
        description: appointment.title,
        startDate: appointment.datetime.toISOString(),
        endDate: endDate.toISOString(),
        calendar: ["Calendar"]
      };
      if (appointment.location != null) {
        settings["location"] = this.context.lassieDataInte

[2017-09-11 14:57] wmcmahan commented on #87
Thanks @jsochurek, it does look like there is an issue with updating existing alarms in Android. I will take a look and fix that soon.

[2017-09-11 14:58] jsochurek commented on #87
@wmcmahan thanks!

[2017-09-12 14:27] wmcmahan commented on #87
@jsochurek, I've pushed changes into master that should allow for alarms to be updated/replaced. Also, the alarms are now returned from the resolved promise.

[2017-09-12 20:49] jsochurek commented on #87
@wmcmahan thanks for the quick turnaround!

I'm still on 1.4.1 (not yet on RN 0.47), should this code work just as well? The diff between the two files appears to be all from this commit, not from any previous 1.4.2 commits

[2017-09-13 00:01] wmcmahan commented on #87
The latest changes currently in master support RN 0.47+. The only real change for supporting for RN 0.47 is in `CalendarEventsPackage.java` - [diff](https://github.com/wmcmahan/react-native-calendar-events/compare/83ec99a2dd088b64763c09d67122f0cbddd7a3b3...master).

[2017-09-13 15:05] agrosner opened #88 "Android Permissions are always 'denied' even when we haven't checked yet."
I display a ui for when user does not have access vs. when they have not requested access.

I check for authorization status as so:
[code]
and display whether we need access, have access, and denied access.

on iOS this works great. We are given back `undetermined` and can display request access UI.
on Android we are returned `denied` always even if we have not actually checked on the device. So t

[2017-09-13 15:09] agrosner opened #89 "Crash when trying to add event"
There is a condition where if you get a `ParseException`, the `promise.resolve()` method is still executed on a null `WritableMap`:

[code]
Using Android studio, you will see the warning that the object may be null here.

A fix to this would be to move the resolve after `addEvent()` is called.
[code]

[2017-09-14 14:36] wmcmahan commented on #88
Hey @agrosner, great suggestion. I will work on getting this in parity with iOS.

[2017-09-15 08:15] hkung77 opened #90 "[Android] authorizeEventStore no promise returned."
I"m trying to check the outcome from authorizeEventStore.. but i'm not seeing any promise returned.

[code]

[2017-09-15 19:18] wmcmahan commented on #90
Hi @hkung77, `authorizeEventStore` should return a promise. Are you seeing any errors logged?

[2017-09-15 23:22] hkung77 commented on #90
@wmcmahan No errors.

Perhaps it's due to being on an older version?
"react-native-calendar-events": "1.3.6",
"react-native": "0.41.2",

[2017-09-16 00:43] wmcmahan commented on #90
Promises are in 1.3.6 as well. Another suggestion is to ensure you have the `MainActivity.java` setup for permission requests. Ex:
[code]

[2017-09-16 06:22] hkung77 commented on #90
Sorry I missed that step in the setup process.
Thanks for the support!!

[2017-09-16 06:22] #90 closed

[2017-09-18 14:22] agrosner commented on #88
awesome. thank you.

[2017-09-18 15:46] jedrichards opened #92 "Crash when calling RNCalendarEvents.authorizeEventStore()"
I'm using React Native `0.47.2`, and `1.4.2` of your library. iOS.

When I call `RNCalendarEvents.authorizeEventStore()` either on the iOS Simulator or a real iPhone the app immediately crashes, no red screen - it just quits.

Any ideas?

Here's the code that causes the crash:

[code]

(Also when I call `fetchAllEvents(date, date)` it just returns an empty array, even though I have dates in my cal

[2017-09-18 16:30] wmcmahan commented on #92
Hi @jedrichards, it sounds like you may need to set privacy description for the calendar - [iOS setup](https://github.com/wmcmahan/react-native-calendar-events#ios). Also, you won't be able to fetch event if authorization to access the calendar has not been granted.

[2017-09-18 16:31] wmcmahan commented on #88
Latest changes are in master 👍

[2017-09-20 14:32] #87 closed

[2017-09-21 12:11] jedrichards commented on #92
Yes, that was it. I'm new to React Native and this stumped me for a while, so I added a PR to amend the readme to hopefully make this process a little more clear.

Thanks! 🙇

[2017-09-21 12:11] #92 closed

[2017-09-21 18:13] #89 closed

[2017-09-21 18:13] #88 closed

[2017-09-23 21:36] Sunakujira1 opened #95 "Android 8.0 saveEvent's return type"
Hi, this library has been very helpful for my project, but I noticed some issues testing with Android 8.0. Here's one of the feedback:

The return value of `saveEvent`(created event's ID) is returning number rather than String as documented.
Other methods such as `removeEvent` and `saveEvent`'s updating still expects String, and shows error when I pass the ID directly into them.
I'm currently forc

[2017-09-23 21:39] Sunakujira1 opened #96 "Android 8.0 Description"
Hi, this library has been very helpful for my project, but I noticed some issues testing with Android 8.0. Here's another feedback:

The `description` option seems to not set anything, but if I set it as `notes` instead, it works just fine.

[2017-09-23 22:40] wmcmahan commented on #96
Hey @Sunakujira1, this issue should be corrected in the latest release.

[2017-09-23 22:43] wmcmahan commented on #95
Yes, that is not ideal. I will update this. Thanks @Sunakujira1

[2017-09-23 23:07] Sunakujira1 commented on #96
I thought I was using the latest but turns out I was on 1.4.1. Thanks @wmcmahan!

[2017-09-23 23:07] #96 closed

[2017-09-23 23:07] Sunakujira1 commented on #95
Thank you too @wmcmahan

[2017-10-04 15:08] GroupXTech commented on #83
What I meant was, IOS has the option to remove all future events belonging to a series or just remove a single event from the series. Android doesn't have this feature currently. Are you working on this feature?

[2017-10-04 17:10] paulmichalak opened #98 "Detach Events"
I may be missing something obvious, but I don't see any way to detach calendar events. When I have a repeating event and I want to change a single instance of it, it just seem to replace all of the events even if I pass in `isDetached` as true (which I assumed was read only anyway).

[2017-10-04 18:55] wmcmahan commented on #83
Ok thanks, I understand now. You wish to remove a single instance from recurring series. Makes sense. Yes, this is something that can be added for future release.

[2017-10-04 19:11] wmcmahan commented on #98
Thanks @paulmichalak, yes currently it updates all instances of a recurring event - [line in reference](https://github.com/wmcmahan/react-native-calendar-events/blob/master/RNCalendarEvents.m#L172). I agree with the need to update a single instance though. I will work on a solution for this.

[2017-10-05 11:45] stiang opened #99 "Alarm specified as a negative number crashes Android"
Just a heads-up that we experienced a hard crash (nothing in the log) on Android when we tried adding an event with an alarm, where the value for the `date` property was the number -180, which according to the docs means the number of minutes relative to the start time. Something like this:

[code]

The problem went away when we supplied an ISO date string as the value, ie.

[code]

I didn’t inves

[2017-10-05 16:49] wmcmahan commented on #99
Thank you @stiang. I will work on resolving this and properly handling the exception.

[2017-10-07 19:20] Aashish-1008 opened #100 "How we can invite people while creating events??"

[2017-10-10 13:48] wmcmahan commented on #100
Sorry @Aashish-1008, unfortunately this is not currently possible.

[2017-10-10 13:48] #100 closed

[2017-10-11 10:16] bilalsyed001 commented on #76
Adding this fixes the issue RN0.45.x
`    @Override
    public List<Class<? extends JavaScriptModule>> createJSModules() {
        return Collections.emptyList();
    }`

[2017-10-12 11:51] amanthegreatone opened #101 "null pointer exception"
Hi,

I am getting the following error for some of my users.

[code]

Android 5.1 / 6.0
react-native-calendar-events: 1.4.1
react-native: 0.44

[2017-10-19 13:11] s2jesbak opened #102 "SDK Version too low throwing error"
`> The SDK Build Tools revision (23.0.1) is too low for project ':react-native-calendar-events'. Minimum required`

I had to edit the package in node_modules to '25.0.0' in order to get it to build, maybe this should be a note in the readme?

[2017-10-23 14:45] agrosner opened #103 "Null Pointer Exception when serializing event calendar"
When finding event calendars, there is a crash in the code:
[code]
From this line:
[code]

May  I suggest checking for null for the value.

[2017-10-23 16:33] amanthegreatone opened #104 "Null pointer exception"
Hi,

getting the following null pointer exception:

[code]

Android 5.1 / 6.0
react-native-calendar-events: 1.4.1
react-native: 0.44

[2017-10-26 09:40] zalesky opened #105 "create calendar"
Can you add a feature to create a calendar to this package? Here is code example how to do it
[code]

[2017-10-26 21:44] wookelvin opened #106 "Adding ability to pull Calendar event after saving"
Is there an easy way to pull the calendar event back up through the native calendar app after successfully saving the EventID?

i.e.
`showCalendarEvent(eventID);`
would pull up original calendar event in either ios/android and be able to edit the original values.

[2017-10-27 23:35] tymadsen commented on #77
@wmcmahan  Is this module compatible with Expo? I am trying to accomplish the same thing as @majd-kho . I have tried following the manual linking directions, but there is no libRNCalendarEvents.a (all I see are RNCalendarEvents.m and RNCalendarEvents.h files) that I can find anywhere. As for android, I have been unable to locate the settings.gradle or a MainApplication.java, unless those are files

[2017-10-30 09:47] dotansimha commented on #103
Same here.

[2017-11-02 09:17] itinance commented on #76
+1 @bilalsyed001

Also, this import is required:

`import com.facebook.react.bridge.JavaScriptModule;`

[2017-11-02 13:33] gourav-singhal opened #107 "Android app crash on authorizeEventStore"
Hi

The android app crashes with following error log:-

Fatal Exception: java.lang.RuntimeException: Unable to resume activity {sh.mobile.vh/sh.mobile.vh.MainActivity}: java.lang.NullPointerException: Attempt to invoke interface method 'void com.facebook.react.bridge.Callback.invoke(java.lang.Object[])' on a null object reference
       at android.app.ActivityThread.performResumeActivity(ActivityT

[2017-11-02 17:50] martincarrera opened #108 "iOS - C++ Exception in 'nativeFlushQueueImmediate'"
I'm using this component on iOS 11.0.1 (simulator - all models).

The first time I try to create an event, I get the following error:

![simulator screen shot - iphone 6 - 2017-11-02 at 12 55 07](https://user-images.githubusercontent.com/6719062/32341401-246b603a-bfdc-11e7-92f6-e365a8ef29ad.png)

After dismissing the error, the library works as expected with no problem.

When testing on a device (

[2017-11-02 18:02] xmarianox commented on #108
I'm having the same issue

my package.json:

[code]

[2017-11-02 18:07] martincarrera commented on #108
My `package.json`:

[code]

[2017-11-06 07:57] gourav-singhal commented on #107
I am using
react-native-calendar-events version 1.4.1 and
react-native version 0.45.1

Please suggest if there is any solution for same.

[2017-11-06 13:17] lbosnyak opened #109 "authorizationStatus result "Reference error: Can't find variable: record""
Hello Everybody!

I'm a newbie in react-native, so I am sorry if my question is too stupid. ;)
I have created a new very simple test for handling calendar events. When I tried to run it on my device (Android 6.0.1 / MIUI 8.5 Global) I have got the reference error message.

`import RNCalendarEvents from 'react-native-calendar-events'
constructor ....

componentWillMount(){
  RNCalendarEvents.author

[2017-11-06 14:36] wmcmahan commented on #107
@gourav-singhal Can you provide the call that you are making? My guess is that you may have missed the last part of the [Android setup](https://github.com/wmcmahan/react-native-calendar-events#android).

[2017-11-06 14:40] wmcmahan commented on #109
@lbosnyak, could you please provide the error message?

[2017-11-06 14:50] wmcmahan commented on #106
@wookelvin No, but this should be easy to accomplish outside of this library. I hesitate to add any UI actions to the api.

[2017-11-09 06:07] gourav-singhal commented on #107
Thanks @wmcmahan I added the code for targetSDK is 23 or higher and it works fine.
Thanks for your valuable help and reply.

[2017-11-16 15:13] Crazy-Ivan opened #111 "[ANDROID] RNCalendarEvents.authorizationStatus returns 'authorised' when permission is not granted"
1. Install the app ->
2. calendar permission is automatically granted  ->
3. go to the settings ->
4. switch off calendar permission ->
5. open the app ->
6. RNCalendarEvents.authorizationStatus still returns 'authorised'.

[2017-11-30 10:27] eashevchenko opened #112 "Reminder not added on Android platform"
When I ve added alarm as event setting, according to documentation, like this:

alarms: [{
    date: -1 // or absolute date - iOS Only
  }]

when Android calendar has been opened, I didn't see reminder for event.
I propose resolve this issue:
1) put absolute value of minutes to reminderValues (line 429 of the CalendarEvents class):
     int minutes = Math.abs(reminder.getInt("date"));
2) or just u

[2017-12-03 13:53] vmacavero opened #113 "Issues with recurring events on iOS (didn't test with android)"
Hi, i had some "strange" behaviour with inserting an event in calendar with recurrency
this is my helper function :
`
insertEvent = (name, start, end) => {
    RNCalendarEvents.saveEvent(
      'Event for '+ name ' ok?',
       {
        startDate: start,
        //'2016-08-19T19:26:00.000Z',
        endDate: end,
        //'2017-08-29T19:26:00.000Z',
        alarms: [{
          date: -1

[2017-12-04 19:11] vmacavero commented on #113
Never mind, i was uncorrectly setting the event. I'm auto-closing it :)

Victor

[2017-12-04 19:11] #113 closed

[2017-12-27 20:50] gHashTag opened #115 "Recurrence Rule"
## How to get the days of the custom detail?
https://github.com/wmcmahan/react-native-calendar-events#recurrence-rule-properties

![simulator screen shot - iphone se - 2017-12-27 at 23 44 10](https://user-images.githubusercontent.com/6774813/34392925-340fc09e-eb60-11e7-8e44-5c1bc7f5c5dd.png)![simulator screen shot - iphone se - 2017-12-27 at 23 44 23](https://user-images.githubusercontent.com/6774

[2017-12-28 09:19] wa292178 opened #116 "Android Crushed When Add Event"
### When go to the RNCalendarEvents.saveEvent() always crushed and get the cb is not a function error

[code]

[code]

[2017-12-28 18:06] vzaffalon opened #117 "Info plist crashes on newer iOS versions"
For new IOS devices the permission for using calendar information should be added in info.plist file.
Key      :  Privacy - Calendars Usage Description
Value  :  description

[2017-12-28 18:08] vzaffalon commented on #117
react-native link did not added it, had to do it manually

[2018-01-04 14:39] ivancheng1214 commented on #12
Hey, can you kindly add removeFutureEvents function for Android?
If no, how can I delete future events in android platform.
Thanks

[2018-01-04 15:02] wmcmahan commented on #12
@ivancheng1214 Currently, the `removeEvent` removes all instances of a recurring event in Android. The difficulty is when trying to remove one instance from a recurring event. Although, I hope to have a update for this soon for Android.

[2018-01-04 15:41] ivancheng1214 commented on #12
Thank you

[2018-01-11 12:36] ivancheng1214 commented on #111
Same issue here.
Hope quick response from maintainers...

[2018-01-11 12:49] ivancheng1214 commented on #111
I did following:
1. install the app
2. restrict calendar access in the pop up modal
3. RNCalendarEvents.authorizationStatus returns authorized in spite of being restricted by user

[2018-01-11 13:23] ivancheng1214 opened #118 "Android Configuration Error"
Following is part of Build.gradle
defaultConfig {
        applicationId "com.gplans"
        minSdkVersion 23
        targetSdkVersion 23
        versionCode 1
        versionName "1.0"
        ndk {
            abiFilters "armeabi-v7a", "x86"
        }
        renderscriptTargetApi 23
        renderscriptSupportModeEnabled true
        multiDexEnabled true
    }

targetSdkVersion >= 23
so I add f

[2018-01-11 18:04] wmcmahan commented on #118
@ivancheng1214 Did you `import com.calendarevents.CalendarEventsPackage;` ?

[2018-01-11 18:13] wmcmahan commented on #111
For Androids running API 23 and above, it is necessary to request permission from the user before accessing the Calendar. Prior, these permissions are accessed from [AndroidManifest.xml](https://github.com/wmcmahan/react-native-calendar-events/blob/master/android/src/main/AndroidManifest.xml). What is the response from the `authorizeEventStore` call?

[2018-01-11 18:31] wmcmahan commented on #116
@wa292178, The eventId is created automatically when the event is first saved. Are you trying to create a new event or update an existing event?

[2018-01-13 04:28] maugsosa opened #119 "save Event in Android is not working"
Hi,
I have been trying for a while to get this module to work in React Native in Android (is working in iOS) and when I run:

 _addToCalendar(){
const { aTime } = this.props.comp;

      const timeFormat =
        Platform.OS === 'ios'
        ? 'YYYY-MM-DDTHH:mm:ss.sssZ'
        : ('YYYY-MM-DD[T]HH:mm:ss.sss[Z]');

    RNCalendarEvents.saveEvent('The calendar title', {
      notes: 'a note',

[2018-01-15 15:47] #119 closed

[2018-01-15 18:42] sibelius commented on #108
any progress on this?

[2018-01-15 22:51] DarthFowla commented on #70
I'm actually getting this very same error after upgrading to RN 0.50.0

    "react-native": "0.50.0",
    "react-native-calendar-events": "^1.4.3"

So now what? Why is this a recurring issue in this package?

[2018-01-19 10:00] tuannguyenhoangit opened #120 "Unknown error from a native module"
[code]

I got this errror "Unknown error from a native module"

[2018-01-19 14:26] wmcmahan commented on #120
@tuannguyenhoangit Its difficult to know knowing seeing the values that are attempting to be saved. Is this error printed from the catch block?

[2018-01-19 15:04] tuannguyenhoangit commented on #120
So, what should I do? I can't finish project for my company, this is blocker now.

[2018-01-19 15:22] wmcmahan commented on #120
@tuannguyenhoangit Can you show the details that you are trying to save and tell me if this error is coming from the catch block?

[2018-01-19 15:56] tuannguyenhoangit commented on #120
The code run as well in Virtual device (ip6, ip6 plus), but not run in Real device (ip6, ip5)

[code]

currentRappelName = R-Sport
currentRappelEventId = E05A8088-8F25-43A8-A5B7-F51513C748C5
rec = daily
startTime = 2018-01-19T17:00:00.000Z
endTime = 2018-01-19T17:00:00.000Z

=> Error: update event with error Error: Unknown error from a native module

[2018-01-19 16:12] wmcmahan commented on #120
I would recommend setting the end date to a different time than the start date since its recurring. Ex:

[code]

[2018-01-19 16:34] tuannguyenhoangit commented on #120
It seems to still not work, also you increase 1 month instead of day.

'R-Sport',
'E05A8088-8F25-43A8-A5B7-F51513C748C5',
'daily',
'2018-01-19T17:00:00.000Z',
'2018-01-20T17:05:00.000Z'

[code]

[2018-01-19 16:49] tuannguyenhoangit commented on #120
I want to repeat event everyday at the start time

[2018-01-19 17:07] tuannguyenhoangit commented on #120
Finally, i found the key

When i put id of event to update, then i got 'Error: Unknown error from a native module'
I have tested by remove id parameter from out the schema, then it can work.

So, i want to update an event. How to do that.
Worse case i will do [delete + create event] = [update]

[2018-01-19 17:13] wmcmahan commented on #120
You should be able to update the event with the same values as before. Just be sure that the ID is valid or it will try to update a non-existing event.

[code]

[2018-01-19 17:15] tuannguyenhoangit commented on #120
I ensure it valid, because i stored it in sever after event created.

[2018-01-19 17:24] wmcmahan commented on #120
Ok, but this value can change on the device's event store with a calendar sync. The id is not guaranteed to stay the same. Using `findEventById` can help to validate against the devices calendar event store.

[2018-01-19 17:28] tuannguyenhoangit commented on #120
thanks, it works :-) you save my day

[2018-01-19 17:32] wmcmahan commented on #120
Avec plaisir. Bonne chance 👍

[2018-01-19 17:32] #120 closed

[2018-01-19 17:36] tuannguyenhoangit commented on #120
Hah, I am Vietnamese, but I am in France project for my company.

[2018-01-19 17:43] wmcmahan commented on #120
Heh! I'm sorry, Chúc may mắn 😄

[2018-01-19 21:30] #117 closed

[2018-01-19 21:32] #57 closed

[2018-01-19 21:33] #68 closed

[2018-01-19 21:38] wmcmahan commented on #77
It appears Expo has planned to add calendar events - [feature requests](https://expo.canny.io/feature-requests/p/calendar-api). To manually link library - follow RN docs [here](https://facebook.github.io/react-native/docs/linking-libraries-ios.html).

[2018-01-19 21:38] #77 closed

[2018-01-19 21:39] wmcmahan commented on #104
Sorry, I've been busy for a while. But will look into the following issue and resolve. Thanks.

[2018-01-19 21:44] wmcmahan commented on #115
This currently not a part of the package, but I think it would be a nice addition to the recurrence settings. I will mark as future feature. Thanks

[2018-01-27 19:03] #115 closed

[2018-01-29 12:13] burtek opened #121 "Permissions problem"
On Android, when using `authorizeEventStore`, if calendar permissions are not granted at the beginning (i.e. user has not yet granted calendar permission), user is asked for permission (it works correctly), but Promise is neither resolved nor rejected with the result.

[2018-01-29 18:32] yonislarsson opened #122 "Is it possible to fetch the events from google calendar or some other calendars and to register the event to google calendar?"
Hi,

I am going to fetch the events from google calendar(, or some other calendars) and show those events on my app.
Also, I would like to register the event to google calendar.
Is it possible to do that?
If so, please let me know how can I do it.

[2018-01-31 15:12] wmcmahan commented on #121
Make sure you have setup the permissions handler - its the last part in the [Android setup](https://github.com/wmcmahan/react-native-calendar-events#android).

[2018-01-31 15:16] burtek commented on #121
Thanks, I missed that.

[2018-01-31 15:16] #121 closed

[2018-01-31 15:17] wmcmahan commented on #122
Hi, @yonislarsson. You can retrieve and save events from external calendars, but they will need to be synced with the device. I'm currently working to allow sync adaptors on Android.

[2018-02-01 13:42] DevArenaCN opened #123 "Can't add calendar event on Android N"
Hi, I'm using this library to add event to the calendar, having tested on KitKat, Marshmallow, Nougat and Oreo but Nougat is the only one that doesn't add the event to the calendar even though I got the promise back saying it's successfully added.

[2018-02-01 13:54] DevArenaCN commented on #123
I solve this issue by bumping the sdk version to API 26 Platform in the iml file.

[2018-02-01 14:51] #123 closed

[2018-02-02 16:55] pepincho commented on #111
Hello guys! @wmcmahan I have the same issue while developing on Android.
I'm using:
[code]
and
[code]
I've already added these lines
[code]

[2018-02-12 17:30] JulianHinsch opened #124 "iOS - authorizeEventStore() crashes even with addition to info.plist"
react-native-calendar-events: 1.4.3
react-native: 0.51.0

I added
" <key>NSCalendarsUsageDescription</key>
    <string>This app requires access to the calendar</string>"
to info.plist in my text editor.

try {
      //app works when this line is removed
      RNCalendarEvents.authorizeEventStore().then(status => console.log(status)).catch(err => console.log(err));
    } catch(err) {
         conso

[2018-02-22 06:50] TungUyenDo opened #126 "Cannot read property 'getCalendarPermissions' of undefined"
![capture](https://user-images.githubusercontent.com/34643360/36524087-31e2da06-17d7-11e8-8214-517b69bc57b8.PNG)

i have this issue, hope you help me!

[2018-02-22 15:12] wmcmahan commented on #126
@TungUyenDo, ensure you have properly setup your application -[ Android setup](https://github.com/wmcmahan/react-native-calendar-events#android) - otherwise you won't have reference to the calendar events package.

[2018-02-23 04:44] #126 closed

[2018-02-23 04:44] TungUyenDo commented on #126
thanks add@@

[2018-02-23 04:49] TungUyenDo opened #127 "Date on calendar events"
- when i set date, startdate and finishdate the same only diffirent hour, but date alway next date.
Hope you help me!!
![capture](https://user-images.githubusercontent.com/34643360/36578408-9769a78e-188f-11e8-81a4-9f03ae8f5f0f.PNG)

[2018-02-23 07:30] TungUyenDo commented on #127
@

[2018-02-23 09:27] TungUyenDo commented on #79
![sas](https://user-images.githubusercontent.com/34643360/36586905-0695dc38-18b6-11e8-99ec-ede4d2736dee.PNG)
calendar-title:'Contacts' can to change? what other calendar-title?

[2018-02-23 15:22] wmcmahan commented on #127
@TungUyenDo, I'm not sure I understand. Is the calendar event successfully saving?

[2018-02-26 08:03] TungUyenDo commented on #127
i'm save successful, but will hide in few minute after. but is problem
I have new issue, hope you help me!
![capture](https://user-images.githubusercontent.com/34643360/36659015-9c9401d2-1b05-11e8-8830-d4abc6fefde4.PNG)
In the picture. Left is param reponse data, where x is title for event(ex: birthate, contact... you can see right picture.)

I want to ask you, how many type for title calendar(par

[2018-02-26 15:39] wmcmahan commented on #127
The calendar `title` is currently read-only with this package. It will be the name (string) of a calendar you have on your device. Also, this calendar does not allow editing or creating events, see `allowsModifications: false`. You can use the method `findCalendars` to see all of calendars on the device and create an event for one that allows for modifications.

[2018-03-14 19:28] MrNagoo opened #128 "Various Simulators break with this library. (11.1, 10.3.1, 11.0,)"
I grab a calendar event by id and get a " C++ Malformed Request: JS fields don't match" only on certain ones.

Does this happen to anyone else.

[2018-03-14 19:42] #124 closed

[2018-03-14 19:42] #122 closed

[2018-03-14 19:42] #118 closed

[2018-03-14 19:42] #116 closed

[2018-03-14 19:44] #47 closed

[2018-03-14 19:45] #112 closed

[2018-03-14 19:45] #109 closed

[2018-03-14 19:48] wmcmahan commented on #128
@MrNagoo, could you please show the code that is causing this error?

[2018-03-14 19:50] #106 closed

[2018-03-14 20:39] MrNagoo commented on #128
[code]
Tested on 10.0, 10.1, 10.2, 11.2 <- They all work.

Here is the error I'm receiving .
[code]

I will be testing on a physical device (10.3.1) later today.

Thanks for the response! I hope I just have $%&T code... :)

[2018-03-14 21:21] wmcmahan commented on #128
Thanks, I think that the error might be from something in the logic within the resolved `findCalendars` promise, rather than an error returned from the calendar. Maybe related to `AsyncStorage`?

[2018-03-15 15:31] MrNagoo commented on #128
It is not this library.

[2018-03-15 15:31] #128 closed

[2018-03-15 15:54] MrNagoo commented on #128
The date seems like it must be formatted with fractional seconds to work...
`moment.utc().format("YYYY-MM-DD[T]kk:mm:ss.SSS[Z]")`

[2018-03-15 16:16] wmcmahan commented on #128
Interesting, iOS has been pretty good at parsing dates over the bridge. You can also use milliseconds instead of formatting to a string.

[2018-03-15 16:58] MrNagoo commented on #128
Awesome, well... to anyone else having " C++ Malformed Request: JS fields don't match" We fixed all of our iOS errors by converting moment.js objects to strings/milliseconds. Thanks for the help!

[2018-03-15 17:10] wmcmahan commented on #108
Similar issue #128 - RN might be having issues parsing the date field(s).

[2018-03-19 18:45] wmcmahan commented on #98
Closing - single event instances can now be edited. Ex:
[code]

[2018-03-19 18:45] #98 closed

[2018-03-19 18:54] wmcmahan commented on #111
If the application is not prompting for permission when calling `authorizeEventStore` check your applications `build.gradle` for its targeted SDK. SDKs 23 and higher require the application to ask permission, otherwise its implicitly granted.

[2018-03-19 18:54] #111 closed

[2018-03-19 19:06] #76 closed

[2018-03-19 19:09] wmcmahan commented on #83
Closing - this is now possible. Ex:
[code]

[2018-03-19 19:09] #83 closed

[2018-03-19 19:10] wmcmahan commented on #95
Closing - returned value should be of type string now.

[2018-03-19 19:10] #95 closed

[2018-03-19 19:12] wmcmahan commented on #103
Closing - null check has been included in latest.

[2018-03-19 19:12] #103 closed

[2018-03-19 19:37] GroupXTech commented on #83
AWESOME thanks

[2018-03-20 19:06] uvuwuewuewue opened #129 "Event Alarm not being assigned in android"
#Here is the code
[code]
#The output in the console
![image](https://user-images.githubusercontent.com/34007389/37677042-0db59a80-2c7a-11e8-8cd3-4d79a6b9e9eb.png)
as you can see the alarm array is empty,
I honestly have little experience with this api, It would be helpfull if someone tell me where i'm wrong here

[2018-03-20 19:14] wmcmahan commented on #129
@uvuwuewuewue, the property should be `alarms` instead of `alarm`. Ex:
[code]

[2018-03-20 19:26] uvuwuewuewue commented on #129
@wmcmahan Thanks alot for pointing my dumb mistake,
that was really silly xD

[2018-03-20 19:26] #129 closed

[2018-03-25 15:53] #127 closed

[2018-03-27 22:15] jeveloper opened #131 "How is Event ID defined?"
### Environment
RN 52
react-native-calendar-events 1.5.0

Hey @wmcmahan  Will

Thanks for the great work!

I am trying to figure out a problem.

Your library returns eventID .

however another library that also uses eventKit https://github.com/vonovak/react-native-add-calendar-event returns a list of events for the same date but contains different ID.
I understand that an ID could contain calendar

[2018-03-27 23:12] wmcmahan commented on #131
Hey @jeveloper, I believe there might be the differing properties:

`react-native-add-calendar-event` -  appears to be using this [eventIdentifier](https://developer.apple.com/documentation/eventkit/ekevent/1507437-eventidentifier?language=objc)
`react-native-calendar-events` -  is using this [calendarItemIdentifier](https://developer.apple.com/documentation/eventkit/ekcalendaritem/1507075-calenda

[2018-03-27 23:14] jeveloper commented on #131
Hey Will

Thanks for response ! This could be good for readme :)

Wild question, any idea if there is a way to convert one to another . No idea why there would be 2 sets of Identification of a calendar record

[2018-03-28 00:05] wmcmahan commented on #131
Thanks @jeveloper! This is making me wonder why `calendarItemIdentifier` was used instead of `eventIdentifier` - it might simply be an artifact from an old use-case.

Unfortunately these properties are from different classes and cannot be converted. The only way (im aware of) is to swap references of `calendarItemIdentifier` with `eventIdentifier`, and `calendarItemWithIdentifier` with `eventWithI

[2018-03-28 12:54] jeveloper commented on #131
Appreciate that.
Thanks for the apple dev references. A little concerning about the fact that the IDs can change , guessing because of iCloud sync work.

[2018-03-29 13:32] jeveloper commented on #131
hey Will @wmcmahan

I'm not too familiar with eventkit sdk. But do you think you might add support for accepting both types of IDs ? Passing an option e.g. { idtype = 'calendarItemIdentifier' }  so that it doesn't break your lib.

I'll propose the same to the other repo owner , i am having a parallel conversation with him :)

[2018-03-30 14:08] wmcmahan commented on #131
I think that adding another option might become a little confusing in this case. But in the meantime, I will see about supporting both implicitly.

[2018-03-30 14:14] jeveloper commented on #131
Just wanted to let you know that i worked with vonovak yesterday and helped him test changes where 2 sets of IDS are returned for IOS and those 2 fields are just duplicates for android case. It worked well so i am combining your library and his.

[2018-04-02 18:27] sibelius opened #133 "Add automatic changelog"
What do u think of adding an automatically changelog?

You could follow our work on react-native-camera

check this https://github.com/react-native-community/react-native-camera/blob/master/package.json#L63

this https://github.com/react-native-community/react-native-camera/blob/master/changelog.js

the result here https://github.com/react-native-community/react-native-camera/blob/master/CHANGELOG

[2018-04-02 18:41] sibelius opened #134 "Export fullfilled consts to make it easy"
fulfilled: String - denied, restricted, authorized or undetermined

[2018-04-02 19:41] sibelius commented on #70
it is fixed on master, we can close this

[2018-04-02 19:41] sibelius commented on #102
check this https://github.com/react-native-community/react-native-camera/pull/1380

[2018-04-02 22:08] tannaurus opened #135 "Unable to use "saveEvent" to update a single event in a series"
### Environment
Environment:
  OS: macOS High Sierra 10.13.3
  Node: 8.7.0
  Yarn: 1.2.1
  npm: 5.5.1
  Watchman: 4.9.0
  Xcode: Xcode 9.3 Build version 9E145
  Android Studio: 2.3 AI-162.4069837

Packages: (wanted => installed)
  react: 16.0.0 => 16.0.0
  react-native: 0.50.1 => 0.50.1

### Steps to Reproduce
Using the "saveEvent" method to update a single event in a series.

### Expected Behavio

[2018-04-14 19:54] alexgurr commented on #124
I'm getting this issue and have the frameworks linked.

https://puu.sh/A38Nt/2c7f19fd53.png

Any ideas?

[2018-04-14 20:12] alexgurr opened #136 "IOS App crashes when running authorizationStatus"
When running  RNCalendarEvents.authorizationStatus() the app crashes (IOS). I've added the calendar line to the info.plist and the two libraries to 'Link binary with libraries'.

### Environment
Environment:
  OS: macOS High Sierra 10.13.4
  Node: 8.10.0
  Yarn: 1.5.1
  npm: 5.7.1
  Watchman: 4.9.0
  Xcode: Xcode 9.3 Build version 9E145
  Android Studio: 3.0 AI-171.4443003

Packages: (wanted => in

[2018-04-16 14:57] pzatorski commented on #136
Any luck? If not please provide more information..

[2018-04-16 15:49] alexgurr commented on #136
Nope, same problem. What kind of information do you want?

[2018-04-16 15:57] pzatorski commented on #136
Try to use this function:

`  componentWillMount() {
    RNCalendarEvents.authorizationStatus()
      .then((status) => {
        this.setState({ auth: status });
        if (status === 'undetermined') {
          RNCalendarEvents.authorizeEventStore().then((out) => {
            if (out == 'authorized') {
              this.setState({ auth: out });
            }
          });
        }
      })

[2018-04-16 16:03] alexgurr commented on #136
I'm already doing something similar:

[code]

```return RNCalendarEvents.authorizeEventStore();``` - as soon as this line is hit, the application crashes.

[2018-04-16 16:11] pzatorski commented on #136
It looks like you define a `const AUTHORISED = 'authorized';` before `componentWillMount` and I think you should not define variable with capital letters.

[2018-04-16 16:17] wmcmahan commented on #136
@alexgurr Could you show the error iOS is displaying? Also, try catching the error.

[2018-04-16 16:38] alexgurr commented on #136
When I went on to my build target -> info, some privacy keys were listed, but calendar was **not**. When I added it in here, it now **works**.

[2018-04-16 16:38] #136 closed

[2018-04-16 16:42] wmcmahan commented on #136
Ah yes, ok. I will make a note this in the readme. Thanks for helping work through this issue!

[2018-04-23 13:33] zbettenbuk opened #138 "android.database.sqlite.SQLiteException"
We receive the following exception on Android 4.1.2:

Fatal Exception: android.database.sqlite.SQLiteException: no such column: isPrimary (code 1): , while compiling: SELECT _id, calendar_displayName, account_name, isPrimary, calendar_access_level, allowedAvailability, account_type FROM Calendars WHERE (_id=?)
       at android.database.DatabaseUtils.readExceptionFromParcel(DatabaseUtils.java:184)

[2018-04-23 14:08] wmcmahan commented on #138
Thanks @zbettenbuk - API 16 and below do not have a `isPrimary` column. I will add a check for that.

[2018-04-26 13:01] StanislavSergeev opened #139 "Undefined is not an Object(RNCalendarEvent.authorizeEventStore)"
I tried to use Authorize to Calendar Event Store

But it doesn't alert any response. only say Undefined is not an Object

[2018-04-29 00:25] itswaze opened #140 "App crashes when saving event on Android"
My code:

date format: 2018-04-29
time format: 10:00

[code]
It works just fine on iOS.

[2018-04-29 14:00] wmcmahan commented on #139
@StanislavSergeev, this is normally because the package is not [linked](https://github.com/wmcmahan/react-native-calendar-events#getting-started) - for iOS if automatic linking is not working, then you may need to manually link it - [React Native instructions](https://facebook.github.io/react-native/docs/linking-libraries-ios.html#manual-linking)

[2018-04-29 14:03] StanislavSergeev commented on #139
Thanks

[2018-04-29 14:03] #139 closed

[2018-04-29 14:28] wmcmahan commented on #140
@itswaze, What is the error you receive? It might be because of the alarm date. Try defining the alarm date as a ISO date string also.

[2018-04-29 14:51] itswaze commented on #140
That was it! It's though, I already used like this and it worked...
Thank you so much! closing it.

[2018-04-29 14:51] #140 closed

[2018-05-02 08:59] habeebrahmanpt opened #141 "How get all calendar events from phone if event added from App (using react-native-calendar-events)"
can we add a calendar event including special metadata for filtering event for specific app ?

Environment:
  OS: Linux 4.4
  Node: 9.2.0
  Yarn: 1.3.2
  npm: 5.8.0
  Watchman: Not Found
  Xcode: N/A
  Android Studio: Not Found

Packages: (wanted => installed)
  react: 16.0.0 => 16.0.0
  react-native: ^0.50.4 => 0.50.4

[2018-05-03 05:45] LongicornYu opened #142 "Is there a way to use this with expo?"
Is there a way to use this with expo?

[2018-05-03 13:07] wmcmahan commented on #142
Expo has included a calendar API. Its similar but also has a few more features - https://docs.expo.io/versions/v25.0.0/sdk/calendar.html#content

[2018-05-03 13:07] #142 closed

[2018-05-03 13:14] wmcmahan commented on #141
Hi @habeebrahmanpt, there is currently not a way add meta data to the events store. Would creating calendars for a specific app and filtering off those work?

[2018-05-04 11:57] Convict3d opened #143 "Error java.lang.Double cannot be cast to java.lang.String"
### Environment
React Native 0.55.2
Android

### Steps to Reproduce
Use findEventById and fetchAllEvents

### Expected Behavior
Should return Event or an array of Events

### Actual Behavior
fetchAllEvents is causing the whole application to crash on android printing:
[code]
in adb logs,

findEventById  showing error screen:
`java.lang.Double cannot be cast to java.lang.String`

[2018-05-04 13:58] wmcmahan commented on #143
Hi @Convict3d, the calendar IDs should strings; ex:
[code]

[2018-05-04 14:06] Convict3d commented on #143
Hi @wmcmahan thank you, it is working for `fetchAllEvents`, is it the same issue for `findEventById `?

[2018-05-04 14:29] wmcmahan commented on #143
Yes,`findEventById` also expects the ID to be a string.

[2018-05-05 11:42] fufuninja commented on #54
hey there, I am still experiencing this bug. Let's assume I only have the Google Calender app on my Nexus phone. Even after specifying the parameter calenderID: '1',  it appears in Google Calender as birthday.

[2018-05-05 15:16] wmcmahan commented on #54
Hey @fufuninja, try `calendarId` instead of `calenderID`.

[2018-05-05 16:34] fufuninja commented on #54
hey @wmcmahan, thanks for responding, yes I'm using calendarId, sorry for the typo.

[2018-05-05 16:53] wmcmahan commented on #54
When you use `findCalendars` to see what calendars are available, are there any other writable calendars? The calendar with id = 1 is the default when creating events.

[2018-05-05 18:18] Convict3d commented on #143
@wmcmahan Thank you, it's working.

[2018-05-05 18:18] #143 closed

[2018-05-07 11:48] fufuninja commented on #54
Yes, default is Google Calender. But there's this bug when Google Calender is in default. It doesn't save properly into Google Calender. Instead it ends up as Birthday as shown in the images below.
[https://ibb.co/c36MB7](url)
[https://ibb.co/eVUxjS](url)

[2018-05-08 13:07] abdallahchebaro opened #144 "Run the app on Expo"
Hello,

I followed the steps:

1.Installed the package
2. Linked the library

I am trying to run this app on expo using 'npm start', but I am receiving 'no server found'.

Any help regarding this issue? Or how should I make the app run on Expo?

Thank you,
Best Regards

[2018-05-08 13:48] wmcmahan commented on #144
Hi @abdallahchebaro, Expo has a very similar [Calendar API](https://docs.expo.io/versions/v25.0.0/sdk/calendar.html#content).

[2018-05-09 10:05] abdallahchebaro commented on #144
Hello @wmcmahan. I am not limiting myself to expo. I am using expo for simplicity.

I am using a mac. So your project should work if I configure either xcode or android studio with react native, right?

[2018-05-09 16:03] wmcmahan commented on #144
@abdallahchebaro, Yes, you will still need to setup a React Native project and you can use Xcode or Android Studio, if you like. I'm not too familiar with using Expo, but iOS and Android can be run via the React Native commans `react-native run-ios` or `react-native android`.

[2018-05-10 17:07] rodrigofbm opened #145 "Is there a way to repeat the alarm from x to x minutes / hours?"
### Environment
  OS: Linux 4.13
  Node: 9.10.1
  Yarn: 1.6.0  npm: 5.6.0
  Watchman: Not Found
  Xcode: N/A
  Android Studio: Not Found

Packages: (wanted => installed)
  react: 16.3.1 => 16.3.1
  react-native: 0.55.4 => 0.55.4

### Steps to Reproduce
Just a question.

### Expected Behavior
repeat the alarm from x to x minutes / hours

### Actual Behavior
Just a question.

Is there a way to repea

[2018-05-10 17:33] wmcmahan commented on #145
Hi @rodrigofbm, the individual alarms will not repeat, but you could add multiple alarms for a span of time. Ex:
[code]

[2018-05-11 01:20] huyhq1993 opened #146 "Crash on android with option recurrenceRule"
Error diplay:
java.lang.IllegalArgumentException: Cannot have both DTEND and DURATION in an event
        at android.database.DatabaseUtils.readExceptionFromParcel(DatabaseUtils.java:165)
        at android.database.DatabaseUtils.readExceptionFromParcel(DatabaseUtils.java:135)
        at android.content.ContentProviderProxy.insert(ContentProviderNative.java:476)
        at android.content.ContentR

[2018-05-11 14:33] #145 closed

[2018-05-21 01:35] rodrigofbm opened #147 "you don't have permissions to add an event to the users calendar"
### Environment
  OS: Linux 4.13
  Node: 9.10.1
  Yarn: 1.6.0
  npm: 5.6.0
  Watchman: Not Found
  Xcode: N/A
  Android Studio: Not Found

### Steps to Reproduce
Add new event to calendar

### Expected Behavior
Add new event to calendar

### Actual Behavior
[code]

[code]

**settings.gradle**
[code]
**build.gradle**
[code]
**MainActivity.java**
[code]
**AndroidManifest.xml**
[code]

Can someone he

[2018-05-22 15:39] #144 closed

[2018-05-22 15:44] wmcmahan commented on #147
Hey @rodrigofbm, which Android SDK is your app targeting? If 23+, you will need to have the app request permission:

[code]

[2018-05-23 09:21] jigaryadav opened #148 "after saving event it disappear form calendar ios"
**Description**
first have created an event with the title, end time and start time and when I save the event it got saved in the calendar but after a few mins it got removed from the calendar and  this happen only in ios. android is working perfectly

**current version**

    "react": "^16.2.0",
    "react-native": "^0.52.0",
    "react-native-calendar-events": "^1.5.0"

i have called `RNCalendar

[2018-05-25 10:12] bhatti-waqas opened #149 "Can't read property 'authorizationStatus' of undefined"
I have followed all the instructions given for ios. But when I am trying to use 'RNCalendarEvents.authorizationStatus()' I get following error.

Can't read property 'authorizationStatus' of undefined

[2018-05-25 12:10] ftier-tech opened #150 "Forbidden to add events to Android Calendar..."
With iOS, things seems to just work peachy as expected.  However, under Android, I keep getting a 403 Forbidden when I go to create an event.  My settings.gradle and build.gradle have the correct
settings and access.  I am targeting v23 or higher and do have the appropriate authorization methods (see below).  I'm just stumped...could this have anything to do with Google moving their calendar api t

[2018-05-25 13:28] wmcmahan commented on #149
Hi @bhatti-waqas, this is usually caused by the library not being properly linked. I would recommend checking the [setup instructions](https://github.com/wmcmahan/react-native-calendar-events#step-2---link-the-library) if anything was missed.

If this error is coming from iOS after running the automatic link command, you may need to try manually linking the library.

[2018-05-25 15:58] wmcmahan commented on #150
Hey @ftier-tech, thats quite the bounty reward! 😅

This is new to me, so I'm not sure why its failing to sync with google calendars on Android. I've not tested much with google calendars, but here's what I would try first.

For a quick sanity check, I would look at is the calendar writable and find the calendar you wish to save:
[code]
Then, try requesting a sync when saving the event:
[code]
Also

[2018-05-28 18:02] rturk opened #151 "How can I list users (emails) that are invited for the event?"
How can I get a list of emails and or users invited for this event?

### Environment
IOS/Android 0.55

### Steps to Reproduce
Get an event.

### Expected Behavior
List of the names, emails invited for this meeting

### Actual Behavior
Invitee information is not available

[2018-05-29 09:13] mikeumus commented on #149
Also check out @3DEsprit's article here:
- https://networksynapse.net/quick-introduction-to-react-natives-calendar-events/

[2018-05-29 09:49] mikeumus opened #152 "Auth error empty"
<img width="836" alt="screen shot 2018-05-29 at 5 38 45 am" src="https://user-images.githubusercontent.com/57934/40651130-f2e0312e-6302-11e8-87f5-9dac4d9bbc8c.png">

### Environment

[code]

Packages: (wanted => installed)
  react: 16.3.1 => 16.3.1
  react-native: https://github.com/expo/react-native/archive/sdk-27.0.2.tar.gz => 0.55.2

### Steps to Reproduce

`exp start`

### Expected Behavior

A

[2018-05-29 15:16] wmcmahan commented on #152
Hi @mikeumus, a few thoughts. First, its not necessary to check authorization before requesting permission; `authorizeEventStore` will do this already. Also, catching the error from the request.

[code]

You will also need [this line](https://github.com/mikeumus/lucid-timer/blob/b7fa99499696bfc121456cd8d601b616f4c78c9b/android/app/src/main/java/host/exp/exponent/MainApplication.java#L36) when requ

[2018-05-29 16:35] wmcmahan commented on #151
Hi @rturk, getting attendees from an event has not been created yet, but I plan on working to get this out very soon.

[2018-05-29 19:52] TomMahle commented on #10
@wmcmahan would you be open to a PR that adds in this functionality? Possibly in the form of a new method with the same signature as saveEvent called openSaveEventUI. I believe we could accomplish this using similar methods to what [react-native-add-calendar-event](https://github.com/vonovak/react-native-add-calendar-event) is doing.

[2018-05-29 20:08] TomMahle opened #153 "Feature Request: Multiple day of week recurrence"
Hello,

I have a use case for having a single event recur on multiple weekdays, e.g. 9 AM to 5 PM every Monday, Tuesday, Wednesday, Thursday, and Friday for the foreseeable future.

While this is presently possible by creating multiple events, this creates an undesirable user experience if the user has to edit those events, as each of the days of the week must be edited separately.

Both Android (

[2018-05-29 20:12] TomMahle commented on #10
Actually, developers should be able to simply create the event with this library, then open it using the resulting event id with react-native-add-calendar-event if they want to give their users a comparable experience to what was requested in this issue. I'll probably do that for my use case in lieu of submitting a PR, though I think there could be some value in adding a method like what is descri

[2018-05-30 04:55] mikeumus commented on #152
I apply these changes but even so, the `AuthStore` and `saveEvent` call both give empty error objects:

<img width="836" alt="screen shot 2018-05-29 at 10 59 07 pm" src="https://user-images.githubusercontent.com/57934/40699686-c95ff70c-63a3-11e8-896b-9cd169b0208e.png">

I have to comment out the `Override` and `super.getPermission()` calls in `MainApplication.java` for it to build otherwise I get

[2018-05-30 13:48] wmcmahan commented on #153
Hi @TomMahle, yes that is a great suggestion and pull requests are always welcomed :) This is definitely something that has been wanted in this library.

[2018-05-30 14:13] wmcmahan commented on #152
Maybe, I have not used Expo so unfortunately I'm not sure how to integrate external packages with it. But it does appear that they have a `Permissions` object - [Expo docs](https://docs.expo.io/versions/v27.0.0/sdk/permissions) - that handles basically does the same as `authorizeEventStore`.

[2018-05-30 15:11] mikeumus commented on #152
Alright, thanks for the direction. If this doesn't work I'll try it without the Expo.

[2018-05-31 13:07] hariks789 commented on #151
Hi @wmcmahan @rturk For iOS this is already implemented in #132 . For android I have raised a pull request #154 . Let me know if it helps :)

[2018-05-31 13:50] wmcmahan commented on #151
Great! Thanks, for helping with Android side @hariks789.

[2018-05-31 13:59] hariks789 commented on #151
No problems mate. Here are the android changes #155. I don't have much expertise in Java, let me know if there are any issues.

[2018-05-31 14:52] rturk commented on #151
Nice! Reading both PRs. I'll be happy to test

[2018-06-03 15:11] wmcmahan commented on #151
Thanks, I did some testing as well and published a minor release with the attendees list as part of the event values. Note, the attendee object in the list includes `name` and `email` although more values can be added in the future if needed. Thanks again for the help!

[2018-06-03 15:11] #151 closed

[2018-06-03 16:12] rturk commented on #151
@wmcmahan nice!

@jaburcodes & @lXSPandora FYI

[2018-06-04 14:50] victormolema commented on #148
Noticed a similar issue on android (will provide specs soon) and also appearing as a birthday on google calander? (or maybe it's just me...)

[2018-06-05 05:17] jigaryadav commented on #148
@wmcmahan  actually it was my mistake i guess, i am adding an event of the previous date so may b calender remove those events

but after i added future events it accepted and not removed from calendar now i don't know its a bug or it meant to be like this

[2018-06-05 09:33] ycman0307 opened #157 "How can i find the event by using the API??"
I can success to save the event to calendar but i cannot find this event by "findEventById" and "fetchAllEvents".

  componentDidMount() {
    const s = moment.utc(new Date()).format('YYYY-MM-DDTHH:mm:ss.SSS[Z]');

    RNCalendarEvents.authorizationStatus();
    RNCalendarEvents.saveEvent('TEST event', {
      calendarId: '141',
      startDate: s,
      endDate: s,
      location: 'ABC',
      no

[2018-06-05 09:35] NewOldMax opened #158 "Add extended properties to event"
Hi,
thanks for your work with this library, it really helps 👍

But I wonder if it possible to add [extended properties](https://developers.google.com/calendar/extended-properties) to calendar event. I don't see it in docs but you can point me if I missed it. Or maybe you plan to implement it someday

Thanks

[2018-06-05 14:06] wmcmahan commented on #157
Hi @ycman0307, you will need to wait for the promise to resolve:

From data range:
[code]

From known event id:
[code]

After saving event:
[code]

[2018-06-06 21:18] jonWilsonCopart commented on #148
@victormolema My QA team is reporting the same thing, event is disappearing after a few minutes and it's showing up as a birthday.

[2018-06-07 03:30] ycman0307 commented on #157
I tried to use these code but it return null.

    RNCalendarEvents.saveEvent('TEST event', {
      calendarId: '141',
      startDate: s,
      endDate: s,
      location: 'HONG KONG',
      notes: 'Bring sunglasses'
    });

    RNCalendarEvents.findEventById('141')
    .then(event => {
      console.warn(event);
    })
    .catch(err => {
      console.warn(err);
    });

[2018-06-07 19:04] BruceCode opened #159 "Crash on android with property frequency in a recurrenceRule"
The app crash when use the property frequency  in the recurrenceRule

react-native-cli: 2.0.1
react-native: 0.47.1

[2018-06-08 02:33] LongicornYu opened #160 "The alarm is not working"
I tried to add an calendar event with alarm:
RNCalendarEvents.saveEvent(`Alert for taking pills`, {
            notes: data[1],
            description:  data[2],
            startDate: start,
            endDate: end,
            recurrence: 'daily',
            calendar: ['Calendar'],
            alarm: [{
              date: -1
            }],
          })
          .then(id => {
            //

[2018-06-08 19:53] jeveloper opened #161 "Crash on android - 1.6.0"
### Environment
RN 55
lib: 1.6.0

### Steps to Reproduce
Saving details to an existing calendar event

### Expected Behavior

### Actual Behavior
com.calendarevents.CalendarEvents.serializeEvent
CalendarEvents.java - line 892
java.lang.IllegalStateException: Couldn't read row 0, col -1 from CursorWindow. Make sure the Cursor is initialized correctly before accessing data from it.
android.database.

[2018-06-08 23:10] jeveloper commented on #161
@wmcmahan  Hey Will

Its crashing on RNCalendarEvents.findEventById(id)

Due to your recent changes using attendees.

[2018-06-09 19:32] TomMahle commented on #153
@wmcmahan (or anyone else that might be interested in picking this up) I'm going with a different implementation on my project (downloading an iCal and opening it). So I won't be implementing this feature in the near term. Just wanted to make that known so that no one that wants this is waiting on me.

[2018-06-09 21:07] abhichourasia opened #162 "Event created in Android device shown as Birthday on Calendar and after sometime it disappears"
I am creating event in Android device but the title always shown as Birthday and no notes and other fields appear like alarm or startdate and enddate on Gmail calendar.

Also the created event disappears from calendar in some seconds. This was not happening until yesterday.

`RNCalendarEvents.saveEvent('Call User', { notes: 'Test Note', description: 'Test Note', startDate: <start date>, endDate: <

[2018-06-09 21:10] abhichourasia commented on #148
I am facing the same issue, on Android the event is shown as Birthday and it disappears from Calendar in few seconds.

[2018-06-11 07:42] nativix opened #163 "Multiple crashes suddenly."
### Environment
 OS: macOS High Sierra 10.13.4
  Node: 8.11.1
  Yarn: 1.6.0
  npm: 6.0.1
  Watchman: 4.9.0
  Xcode: Xcode 9.4 Build version 9F1027a
  Android Studio: 2.3 AI-162.4069837->

Hi, I've been using the module for a couple of weeks and everything was working fine until two days ago when it started crashing all over in this line:

RNCalendarEvents.m line 449
-[RNCalendarEvents serializeCal

[2018-06-11 08:06] eladgel commented on #163
I am getting this too,
It happens in this line of code
![image](https://user-images.githubusercontent.com/412137/41219552-4c7f0908-6d67-11e8-8d14-1a52f810efe4.png)
Apparently this has been happening lately b/c the
`event.calendar.title` is nil

[2018-06-11 18:49] jpaas commented on #163
I have this too. It seems to have started when I upgraded to Xcode 9.4

[2018-06-11 18:54] abhichourasia commented on #148
@jonWilsonCopart were you able tk find solution for the event turned into bday and later disappearing from calendar?

[2018-06-11 19:02] jpaas commented on #163
The simulator seems to have an untitled calendar. But even if I skip the ones without titles I still get a crash with the same title but a different call stack that makes it hard to track down.

[2018-06-11 20:50] jpaas commented on #163
I did an "Erase All Content and Settings..." on my simulator and the crash no longer occurs. I also tested on a physical device and it did not occur.

[2018-06-12 09:28] nativix commented on #163
I made a pull request in the project which would allow having an empty calendar title. 🧐

[2018-06-12 14:43] wmcmahan commented on #163
@nativix @jpaas - Could you post the error that gets logged? It might be from recent `attendees` changes.

[2018-06-12 14:48] wmcmahan commented on #161
Thanks @jeveloper - working on getting a patch out for that soon.

[2018-06-12 16:49] jonWilsonCopart commented on #148
@abhichourasia Unfortunately, not yet. I tried adding the calendarId as suggested above, but no joy. Here is my code. Using React Native 0.34 and calendar events is 1.3.6. Any suggestions are appreciated!

`const setCalendarEvent = () => {
    const email = Locale.translate("contact.calendarEmail")
    RNCalendarEvents.authorizationStatus()
      .then((status) => {
        cal_auth = status

[2018-06-12 17:37] ArthurInTheShell commented on #157
@wmcmahan Thanks! Your help is appreciated!

[2018-06-12 18:23] jpaas commented on #163
This is not just a simulator issue. We've now seen it happen to some of our TestFlight users...
[code]

[2018-06-12 18:36] wmcmahan commented on #163
Thanks @jpaas. Seems to be the same issue with nil calendar titles while calling `findCalendars`. I will push a fix out for this soon!

[2018-06-12 19:10] ArthurInTheShell commented on #150
First, thanks @wmcmahan !
I tried to use the fetch all event method in an Android device that has google calendar as its default calendar. And It turns out great. Even though you are saying the save event isn't working, you could try fetch event first and see if fetch is working. @ftier-tech

[2018-06-12 19:18] ArthurInTheShell commented on #150
It's quite weird that I can only fetch but not add event.
I have tried it out and I get the same 403 error.
If I have any progress on this I will come back and make comment.

[2018-06-12 20:12] HGendron commented on #162
You need to set the calendar id on Android or it will fallback to the default calendar which can be the birthday calendar.

This is some pseudo code:

[code]

[2018-06-12 21:51] wmcmahan commented on #163
A new patch is now published - `1.6.1` - please reopen if there are still issues. Thanks for the help!

[2018-06-12 21:51] #163 closed

[2018-06-12 21:54] wmcmahan commented on #161
Published a fix for this in `1.6.1` - looks like there was a missing field on the cursor. Thanks for the help!

[2018-06-12 21:54] #161 closed

[2018-06-12 22:06] wmcmahan opened #165 "Feature requests: WIP"
Putting this here as a running list of desired feature requests. Always happy to hear of any others.

- [ ] Better changelog and release notes
- [x] Create calendars
- [ ] Allow recurrence rules to include weekdays
- [ ] Extended properties in Android
- [ ] Subscribe to ICS calendar
- [ ] Demo / Examples
- [ ] Create authorization status constants

[2018-06-12 22:10] wmcmahan commented on #158
That could be cool! I think it could only work for Android, but maybe worth adding even if there is no parity between OS. Adding this to the list #165

[2018-06-12 22:10] #158 closed

[2018-06-12 22:11] wmcmahan commented on #38
Moving this to #165

[2018-06-12 22:11] #38 closed

[2018-06-12 22:13] wmcmahan commented on #59
Move to list of request #165

[2018-06-12 22:13] #59 closed

[2018-06-12 22:14] wmcmahan commented on #105
Moving this to list of requests #165.

[2018-06-12 22:14] #105 closed

[2018-06-12 22:15] wmcmahan commented on #133
Thanks @sibelius, i think a better (or any) changelog is needed. I will take a look and add to list of additional todo items #165. Thanks!

[2018-06-12 22:15] #133 closed

[2018-06-12 22:22] wmcmahan commented on #153
Thanks @TomMahle, no worries! I have added it to a running list of futures features. Appreciate the idea!

[2018-06-12 22:22] #153 closed

[2018-06-12 22:27] wmcmahan commented on #134
I like it. Moving this to the list of requests #165!

[2018-06-12 22:27] #134 closed

[2018-06-12 23:10] wmcmahan commented on #159
Hey @BruceCode, what is the value you are using for `frequency`?

[2018-06-13 13:45] avinath321 opened #166 "removeEvent not working"
Removes calendar event not working

[2018-06-13 13:46] avinath321 commented on #166
RNCalendarEvents.removeEvent(id).then(event => {
            console.log(event);
        })
        .catch(error => {
            console.log(error);
        });

always log false

[2018-06-13 14:29] jpaas commented on #163
@wmcmahan I can confirm this did fix the problem for our beta tester. Thanks for the quick turnaround!

[2018-06-13 15:33] BruceCode commented on #159
@wmcmahan 'weekly'

[2018-06-14 11:35] hegelstad opened #169 "[Question] Difference betwen this and react-native-calendar-reminders?"
Is this library simply an extension of react-native-calendar-reminders which adds Android support or does react-native-calendar-reminders use another underlying API only available on IOS?

I am interested in making reminders which triggers one hour before an event and counts down/stays until the event has been. Preferably the reminder should not be added to the calendar app.

Is this possible with

[2018-06-15 06:08] abhichourasia commented on #162
Yes thank you! This solves the issue for me. I was putting calendarId: 1.

[2018-06-15 06:08] #162 closed

[2018-06-15 06:09] abhichourasia commented on #148
@jonWilsonCopart I got a solution for this issue. I did below and it worked fine for me on Android. I am checking for primary calendar. See below:

`const calendars = await RNCalendarEvents.findCalendars();
const primaryCalendar = calendars.find(c => c.isPrimary && c.allowsModifications);

if (!primaryCalendar) { return; }

RNCalendarEvents.saveEvent('Call User', {
    calendarId: primaryCalendar.

[2018-06-15 11:33] hegelstad commented on #166
Show us what ID you trying to use specifically.

[2018-06-15 14:54] jonWilsonCopart commented on #148
@abhichourasia Thank you my friend. I will test and let you know how it works!

[2018-06-19 15:46] MrNagoo opened #170 "weird RN.findCalendars() error on certain devices"
Receiving Feedback about app crashes on the page using RNCE. Appears to have started in iOS 11.3.1 and 11.4 on iPhone 7 and up. Can't reproduce in simulators consistently. When the error happened it was within findCalendars(). Has anyone else experienced this?
### Environment

### Steps to Reproduce

[code]
findCalendar breaks with a null error

```attempt to insert nil object from objects[1]' was

[2018-06-19 16:21] MrNagoo commented on #170
All confirmed issues (10+) of this bug are now working overnight. I did not push or change any code to the app store. This leads me to believe Apple can send hotfixes without software updates?! Is that possible?

[2018-06-19 16:23] #170 closed

[2018-06-19 19:43] wmcmahan commented on #170
A patch in `1.6.1` fixed an issue with null calendar titles. Seems like maybe it got pulled in?

[2018-06-19 19:57] wmcmahan commented on #169
The `react-native-calendar-reminders` package uses the reminders api. They are similar in design, although reminders are more like a "todo" list with the ability to set alarms.

Either one can attach an alarm to a specific time.

[2018-06-21 13:11] reactnative133 opened #171 "Attendees not added when create event"
RNCalendarEvents.saveEvent('eventname', {
                  calendarId: calendarId,
                  startDate: '2018-06-22T00:00:00.000Z',
                  endDate: '2018-06-23T00:00:00.000Z',
                  location: 'Los Angeles, CA',
                  notes: 'Bring sunglasses',
                  attendees: [{ "email": "test1@gmail.com", "name": "test1" }, { "email": "test2@gmail.con", "na

[2018-06-21 14:03] deepakdezire23 commented on #146
With Recurrence rule there are few points that we need to keep in mind:
1. startDate: utcDateToString((any value),
          endDate: utcDateToString(any value),
          location: 'any value,
          recurrence: 'weekly',
          recurrenceRule: {
          occurrence: 1000,
        }}

[2018-06-21 14:40] wmcmahan commented on #171
For iOS this will not be possible depending on the OS version. Adding attendees through their api is not allowed - [iOS docs](https://developer.apple.com/documentation/eventkit/ekcalendaritem/1507140-attendees?language=objc), although it has been possible in the past via a hack. I would not expect reliable results from adding attendees this way.

[2018-06-21 15:13] #157 closed

[2018-06-22 07:18] ycman0307 commented on #160
I also tired but it is fail.
RNCalendarEvents.saveEvent('Title of event', {
  startDate: '2018-06-21T19:21:00.000Z',
  endDate: '2018-06-21T19:21:00.000Z',
  alarms: [{
    date: '2018-06-22T19:21:00.000Z'
  }]
})

[2018-06-24 19:49] apppro123 opened #172 "fetchAllEvents outputs [object Object]"
Environment:
  OS: Windows 10
  Node: 8.11.2
  Yarn: Not Found
  npm: 5.6.0
  Watchman: Not Found
  Xcode: N/A
  Android Studio: Version  3.1.0.0 AI-173.4819257

Packages: (wanted => installed)
  react: 16.3.1 => 16.3.1
  react-native: ~0.55.2 => 0.55.4

I just get [object Object] for every event:

RNCalendarEvents.fetchAllEvents("2015-01-01T00:00:00.000Z", "2019-01-01T00:00:000Z")
      .then((ev

[2018-06-24 20:52] wmcmahan commented on #172
Hi @apppro123, instead of using `alert`, use something like `console.log` to be able to view the array content.

[2018-06-25 20:06] apppro123 commented on #172
Hello wmcmahan

Thank you for your fast response, now it works fine.

apppro123

[2018-06-25 21:05] #172 closed

[2018-06-26 14:48] #171 closed

[2018-06-26 14:48] #169 closed

[2018-06-27 14:43] apppro123 commented on #148
Hi

I have the same problems on android (does not tested on ios) that it shows the events only for some minutes and it shows them as birthdays.
Does anybody already found a solution.

Thank you!

[2018-06-27 17:28] abhichourasia commented on #148
@apppro123 Were you able to try with the code in my above comment. I had same issue and that solved for me.

Let me know if it works for you.

[2018-06-27 17:52] apppro123 commented on #148
No, unfortunately, not. And its also "mysterious" that, when i call

RNCalendarEvents.fetchAllEvents("2015-01-01T00:00:00.000Z", "2020-01-01T00:00:000Z")
      .then((events) =>{
        console.log(events);
      }).catch((error) => {
        console.error(error);
      });
    }

it just shows the dates until today but no more. And if i want to save some that later than today it deletes all othe

[2018-07-01 18:48] apppro123 commented on #148
Does everyboday who downloaded this package has that problem????? Or have i missed a solution?
Or how do you save an event (that it doesnt disappear after)?

[2018-07-05 12:06] apppro123 commented on #148
Is it possible that there are mistakes in the native code of android? Or do i need another API for Google Calendar? When i need another API for Google Calendar , does i need different API's for different calendar's on the device?

Thank you for the response!

apppro123

[2018-07-05 18:37] #149 closed

[2018-07-05 19:04] wmcmahan commented on #148
@apppro123, first make sure that the the calendar that you are writing to allows modifications.

[code]
When creating an event, make sure to write to the calendar you wish. Otherwise it will be `calendarId = 1` for Android and the default calendar for iOS. I noticed in your example, the key for `calendarId` is incorrect, but might just be a typo.

[code]

When requesting stored events, you also ha

[2018-07-06 19:59] apppro123 commented on #148
Thank you very much!

Now it works with saving the events.
Unfortunately  I still dont get every event with fetchAllEvents() (i just get the events until (and with) today).

Thank you for further response.

[2018-07-06 21:58] wmcmahan commented on #148
@apppro123, I'm not sure why its only returning events until today's date. My guess is that either there are no future events saved in the phone's storage (not synced with Google Cal), or the query end date is off. I have not been able to reproduce this myself.

There is no way to create calendars from this api yet, but it is a consideration for being added in.

[2018-07-07 10:12] apppro123 commented on #148
Thank you for your response!

[2018-07-07 11:22] apppro123 opened #173 "fetchAllEvents() doesntreturn future events"

[2018-07-07 12:08] #173 closed

[2018-07-09 19:21] apppro123 opened #174 "Native Code"
It is more a question than an issiue but i dont know where to ask it.

So i would like to change native code of this library.
I would like to add under node-modules, react-native-calendar-events, android, src, main, com, calendarevents, CalendarEvents.java
"CalendarContract.Instances.DISPLAY_COLOR"
in line 227 to get the color of the event.
Later i would have done that to save the event color in c

[2018-07-10 11:25] toytonic opened #175 "saveEvent returns Error on calendar with allowsModifications=true"
Hi @wmcmahan,

While working with your library I noticed the following on iOS:
Even if I filter for calendars that allow modifications I get an error after trying to save an event to it. Apparently this is only the case on `source:  Default, title: Calendar`.

The error I get is:

[code]

### Environment
[code]

### Steps to Reproduce
This is how I retrieve the calendars that will be disabled in a

[2018-07-10 23:35] dkoo opened #176 "[iOS] Calling saveEvent with no calendarId no longer falls back to default calendar if there is more than one modifiable calendar"
Hello,

Thanks for the library—we have been using it in a production app for some time with few issues. However, since updating to version 1.6.1 we've noticed that calling `saveEvent` without a `calendarId` can't seem to find a default calendar if the device has more than one modifiable calendar set up. The function completes without error, but also without saving the event.

### Environment
[code

[2018-07-12 15:30] wmcmahan commented on #175
Hi @toytonic, interesting. How are you attempting to save the event? I'm assuming your defining the calendar id when saving?

[code]

[2018-07-12 15:36] toytonic commented on #175
Yes, exactly. Don't know what other info I could give you for debugging.

[2018-07-12 16:29] wmcmahan commented on #175
My other thought is that it could be related to calendar event permissions and not requesting permission via `authorizeEventStore` before trying to save anything.

Are you able to save an event without setting explicitly defining calendar id; i.e. relying on the default calendar?

[2018-07-19 09:03] geastwood commented on #160
From what I see from the source code, on iOS the `date` needs to be iso string, however on Android, the `date` needs to be number (which is used as minutes, e.g. given `date: 2`, in Android it will convert to `2 minutes before`)

It's better to do a branching on Platform, e.g.
[code]

[2018-07-20 08:09] ycman0307 commented on #52
I also tried to update plist but still same error. did i miss any step.

in "Info.plist"
added key "Privacy -Calendars Usage Description"
added value "This app requires access to the calendar"

[2018-07-20 14:01] arsal-wal opened #177 "Specifying timezone for the events to be added."
Hi!
Is there any way to add the event in the timezone other than the timezone on the device?

By default the timezone is set to the current timezone set on the device. Any way to change it?

[2018-07-22 11:44] #141 closed

[2018-07-23 20:37] ArthurInTheShell commented on #150
this.event = {
      notes: 'This is the sample event provided as an example only',
      location: 'Boca Raton, FL',
      startDate: '2018-07-22T12:00:00.000Z',
      endDate: '2018-07-23T17:00:00.000Z',
      calendarId:'4'
    };
    RNCalendarEvents.saveEvent(this.title, this.event, {sync: true}).then(id => { console.log("saved") },
      error => {
        console.log({ error: error });

[2018-07-28 00:05] coderdave commented on #148
Can you not save past events, beyond about a month ago on iOS?

[2018-07-30 15:13] apppro123 commented on #174
Is there anybody who knows how i can integrate my own native code?
Or a tipp where i can find some help??

Thank you!

[2018-07-31 14:21] phanisai4u opened #178 "In android while adding event is automatically deleted after sometime(30 sec approx)"
Hi @wmcmahan ,
Thanks for great work,
In android while adding event it is added as birthday and automatically deleted after sometime(30 sec approx)
## Here my code
[code]
Above code working perfectly in iOS but not in android.
Plese let me know if i miss something.

### Environment
Environment:
  OS: macOS High Sierra 10.13.5
  Node: 10.1.0
  Yarn: 1.6.0
  npm: 5.6.0
  Watchman: 4.9.0
  Xcode: Xco

[2018-07-31 14:43] wmcmahan commented on #174
Hi @apppro123, if you want to add your own code, you can fork this repo and add any code you wish. It's all open and free to use and update. If you make changes and the application will not run, there is probably an error in the code. I would recommend using an IDE that give proper compile errors when editing the Java or Objective-C code.

[2018-07-31 14:50] wmcmahan commented on #178
Hi @phanisai4u, I think you might find help in this issue thread #148

[2018-07-31 16:53] apppro123 commented on #174
Ok, thank you for your answer.

[2018-07-31 17:13] hirthbrian commented on #177
I added TimeZone on my fork if you need it
https://github.com/FrenchFounders/react-native-calendar-events

[2018-07-31 19:40] #174 closed

[2018-08-01 04:01] phanisai4u commented on #178
Thank you so much @wmcmahan, it perfectly worked for me

[2018-08-01 04:01] #178 closed

[2018-08-02 01:17] bencmack opened #179 "Build failed: com.android.ide.common.process.ProcessException: Failed to execute aapt"
### Environment

 SDKs:
      iOS SDK:
        Platforms: iOS 11.4, macOS 10.13, tvOS 11.4, watchOS 4.3
      Android SDK:
        Build Tools: 23.0.1, 25.0.0, 25.0.1, 25.0.2, 26.0.1, 26.0.2, 26.0.3, 28.0.1
        API Levels: 23, 25, 26, 28
    IDEs:
      Android Studio: 3.1 AI-173.4819257
      Xcode: 9.4.1/9F2000 - /usr/bin/xcodebuild
    npmPackages:
      react: 16.4.1 => 16.4.1
      react-

[2018-08-02 12:43] arsal-wal commented on #177
Great! Thanks.

[2018-08-04 08:33] tylerjjyan opened #182 "Android - event not created in calendar"
Can't seem to create event in Calendar. I get this error

08-04 01:24:54.521 5960-6602/com.android.providers.calendar E/JavaBinder: *** Uncaught remote exception!  (Exceptions are not yet supported across processes.)
    java.lang.RuntimeException: DTSTART field missing from event
        at com.android.providers.calendar.CalendarProvider2.insertInTransactionInner(CalendarProvider2.java:2191)

[2018-08-04 21:53] mikeumus commented on #152
It's working as an Expo app with SDK 29.

[2018-08-04 21:53] #152 closed

[2018-08-06 12:54] sinapcs commented on #153
Hi @wmcmahan. thanks for your support on this great module. Did you add this feature? because I can't find a way to do this.

[2018-08-07 21:50] coderdave opened #184 "Removing and creating many events in quick succession keeps old events"
When I remove and create many events (around 50) in quick succession (around 5 seconds apart), it sometimes doesn't delete the old events, but instead, just adds the new events. I don't get any errors removing the old events either.

Is there maybe some kind of limit to how many times you can hit the calendar API before it starts to ignore requests?

I've tried to be a bit "slower" in how I hit th

[2018-08-09 14:44] coderdave commented on #184
Update: I removed the creating of events function so now it just mass deletes many events. As I'm watching the iOS calendar, I see these events disappear and then all of a sudden reappear on the calendar!

[2018-08-09 14:51] wmcmahan commented on #182
Hi @tylerjjyan, the exception due to trying to save with a missing or invalid `startDate` value.

[2018-08-09 15:01] wmcmahan commented on #184
Hey @coderdave, I'm curious are you saving to an external calendar, i.e. Google, on both simulator and physical device?

[2018-08-09 15:29] coderdave commented on #184
The simulator is just using it's local "Calendar" and I'm not having any issues there. The issue is on my physical device and I'm not using an external calendar like Google. I'm just using a calendar named "Calendar". Does having it on iCloud mess with anything?

[2018-08-10 21:41] coderdave commented on #184
@wmcmahan I created a quick and dirty component to test this out. The higher the number of events, the more likely you'll see the issue. For example, if it's around 10 events, then I don't see it happening, But around 50 or so, it's pretty consistent. (As a reminder, everything is fine on the simulator, it's only my physical device where the issues occurs, I tried both my iPhone and my iPad)

So a

[2018-08-13 17:31] coderdave commented on #184
Update: This happens on Android also.

[2018-08-16 01:04] sampsasaarela commented on #159
Got it to work. I had to add `duration: null` to the `recurrenceRule`.

So here it is working params:
[code]

It seems that duration parameter is not documented anywhere, but it defaults to [PT1H](https://github.com/wmcmahan/react-native-calendar-events/blob/master/android/src/main/java/com/calendarevents/CalendarEvents.java#L393).

And suggestion in #46 didn't work because if `recurrenceRule` doe

[2018-08-20 21:34] TikiTDO commented on #163
@wmcmahan This issue seems to have returned, now with `objects[3]'` instead of `objects[1]'`

This appears to be the following like:

`@"source": calendar.source.title,`

I figure a similar solution to the above might work.

[2018-08-21 15:50] BruceCode commented on #159
When adding **duration: null**, it no longer crash.
Thank you.

[2018-08-21 15:50] #159 closed

[2018-08-23 08:23] keldorus opened #187 "New version on NPM"
Hi,

can you please publish the new version (with calendar color) in npm, please?

Regards,

[2018-08-23 17:16] wmcmahan commented on #187
Hey, @keldorus you can find the calendar colors in `1.6.2`

[2018-08-23 17:16] #187 closed

[2018-08-29 05:26] nodkz opened #189 "Please consider adding screenshot/gif of your component to README.md"
Please consider adding screenshot/gif of your component to README.md

It helps to gather more users. It's very complicated to find any goods components. And many users are too lazy to install and look what inside of your package.

Thanks.

[2018-08-30 17:37] TikiTDO opened #190 "Regression of #163"
The fix to issue #163 fixed only part of the problem. There is an identical bug 2 lines below the original fix which also needs the same type of null handling. I have a comment in the original issue with the problem, but it seems to have been missed.

### Environment
[code]

[2018-08-30 18:14] TikiTDO commented on #190
Something like this should do the trick:

`@"source": (calendar.source?.title ? calendar.source.title : @""),`

[2018-08-31 08:26] RafaelKr commented on #189
This is no component.
The first sentence in the README.md says:
`A React Native module to help access and save events to iOS and Android calendars.`

[2018-08-31 08:30] RafaelKr commented on #99
@wmcmahan JFYI: It also crashed if you specify `0`.

[2018-08-31 08:32] nodkz commented on #189
Oops, pardon my omission

[2018-08-31 08:32] #189 closed

[2018-09-01 09:40] apppro123 opened #192 "Question: calendar"
I dont get the calendar object. What can i do with it and is it only writeable or readable. Because it says that it is only writeable but some features are only readable (color, allowedAvailabilites)!? What can i "write" with them if i cannot get them afterward from the google calendar and i also see no change at the events in the google calendar.
Is it now also possible to make new calendars (wit

[2018-09-01 16:59] wmcmahan commented on #192
Sorry @apppro123 - that was a typo in the readme. The calendar property is read-only.

[2018-09-01 16:59] #192 closed

[2018-09-01 17:07] #190 closed

[2018-09-01 19:05] apppro123 commented on #192
Perfect ty very much!

[2018-09-02 12:29] coderdave commented on #184
@wmcmahan Are you able to give a status update? Any workarounds I can do in the mean time?

[2018-09-02 16:49] wmcmahan commented on #184
@coderdave - I've tried reproducing this by creating 100 events on both iCloud, Gmail, and local calendars on my physical devices and everything deleted successfully without reappearing. I also tried with recurring and nonrecurring events, all with successful deletes.

The only other thing that I could imagine causing ghost deletes would be trying to edit/delete an event on a calendar that doesn't

[2018-09-04 04:05] coderdave commented on #184
@wmcmahan I tried it on another iPhone and the same bug happened. The deleted events reappear. Are you trying the component I created? If not, can you send the code you're using?

[2018-09-04 13:56] wmcmahan commented on #184
I created 100 events.

[code]

Then simply deleted them

[code]

[2018-09-04 15:15] coderdave commented on #184
@wmcmahan That's a bit different from what I do. For example, I'm not using`fetchAllEvents`. Are you able to please try the example I submitted?

[2018-09-06 17:05] Vizards commented on #184
@wmcmahan I‘ve found that when I set the saveEvent option like this:

[code]

- The `recurrenceRule` and `location` cause saveEvent method can't complete
- The `alarms` may cause app crashed (but not every times).

If I removed `recurrenceRule`, `location` and `alarms`, it works fine.
Can you reproduce this issue?

p.s. My React-Native version is 0.52.0. My `react-native-calendar-events` version i

[2018-09-10 22:19] coderdave commented on #184
As an experiment, I delayed each delete by a second to see if that helped. Interestingly, it helped a little, but some events still popped back. I wonder how hard it would be to have `removeEvent` an array of id's to delete? (basically a "bulk delete")

I'm also wondering why I seem to be the only one running into this... Either developers aren't mass deleting or there's just some fundamental flaw

[2018-09-16 14:18] gstuart-rai opened #194 "Use of Private APIs"
https://github.com/wmcmahan/react-native-calendar-events/blob/a0737fe7ac2e7e3c0cf4d968a58b4052b05c0cf2/RNCalendarEvents.m#L236

The above code is a private API and will cause Apple to reject apps that use this.  Perhaps this should include some compiler flag to conditionally include this if the app being developed is internal vs. planned for app store?  Or switch to EKParticipant and remove use of

[2018-09-17 17:49] wmcmahan commented on #194
I agree @gstuart-rai, this should just be removed from the code.

[2018-09-20 09:32] kalyanipullela commented on #99
can anyone explain me this statement

` date: moment(item.from).subtract(3, 'hours').toISOString(),`

is this same as, the time we invoke this event, does the alarm rings after 3 hours as specified or 3 hours before?
can anyone help me out with this.

Thank you.

[2018-09-24 09:19] WasserEsser opened #195 "isPrimary property missing on iOS calendar objects returned by findCalendars"
The calendar property isPrimary does not seem to work on iOS despite being documented as such.
Inspecting the calendars shows that there is no such property called isPrimary.
A temporary workaround would be to check the source property for the value of "Default".

### Environment

### Steps to Reproduce
Log calendar objects (findCalendars) to the console and check their properties.

### Expected B

[2018-09-25 07:01] punitgrover opened #196 "Alarm not triggered on recurrence type of events"
I have set an recurrence event and alarm. events saved in calendar successfully. but alarm not triggered . it is working when i don't set it recurring
### Environment

  RNCalendarEvents.saveEvent(this.state.itemTitle, {
          startDate: '2018-09-25T06:40:00.000Z',
          endDate: '2018-09-25T06:40:00.000Z',
          recurrenceRule: {
            frequency: 'weekly',
             },

[2018-10-21 16:36] usmansbk opened #197 "Finding event by id crash app"
1. I call `saveEvent()` with an id generated with the `npm uuid` package
2. `saveEvent()` resolves with an id of the added event
3. Event successfully appears in calendar
4. I call `findEventById()` with the same id
5. App force closes

### Environment
[code]

### Steps to Reproduce
- App crashes when 'AddToCalendarButton' is mounted

[code]

### Expected Behavior

### Actual Behavior

App force c

[2018-10-21 19:51] usmansbk commented on #197
Closing issue since I've figured out that the 'id' returned after saving an event is different from the one passed to during creation...

saveEvent() accepts a uuid as id and resolves to a number format string that represents the event in the calendar. 😃

[2018-10-21 19:51] #197 closed

[2018-10-22 06:52] bonesyblue opened #198 "Missing TypeScript definitions"
# Missing TypeScript definitions
Currently, this package is missing a TypeScript declaration file, which I would love to contribute! ✅

### Environment
[code]
### Steps to Reproduce

Run the following commands in your terminal (Assuming you have your react-native environment setup and are using yarn package manager - can use npm too if you haven't got yarn!)

[code]
Open your App.tsx file and add

[2018-10-26 13:29] chalyi-andrei opened #200 "location doesn't work"
I need to add a location to the calendar. But it does not work. I add a string but the preview is not shown. If you take the same string to add yourself in the calendar, then there is a preview.

<img width="372" alt="1" src="https://user-images.githubusercontent.com/23151557/47569413-409b8800-d93c-11e8-928e-07833d76902a.png">

<img width="372" alt="3" src="https://user-images.githubusercontent.co

[2018-11-04 09:18] rdewolff opened #201 "Error while trying to use lib on react-native 0.55.4 with Xcode 10.1"
When am trying to use the library in my code, I get an `undefined` error.

### Environment
[code]

### Steps to Reproduce
Install the library following the installation instructions, in short steps :
- `yarn add react-native-calendar-events`
- `react-native link`
- setup iOS as [described](https://github.com/wmcmahan/react-native-calendar-events/wiki/iOS-setup) :
   - Add `RNCalendarEvents.xcodepr

[2018-11-04 09:19] rdewolff commented on #201
Meanwhile, checking the solution provided in https://github.com/wmcmahan/react-native-calendar-events/issues/139

[2018-11-04 09:33] rdewolff commented on #201
✅Solution by [linking library manually](https://facebook.github.io/react-native/docs/linking-libraries-ios.html#manual-linking).
Was missing this part :
[code]

[2018-11-04 09:34] #201 closed

[2018-11-04 09:35] rdewolff commented on #198
+1 :)

[2018-11-10 00:14] jeveloper commented on #179
Any luck?

[2018-11-10 00:35] bencmack commented on #179
Yes! I had to set the buildToolsVersion and such within android/build.gradle folder of the library in node_modules equal to those in my project's android/build.gradle.

If anyone else is experience this, what worked for me was first checking build.gradle in myApp/android/build.gradle. At the bottom of that file should be something like this:
ext {
    buildToolsVersion = "26.0.3"
    minSdkVersion

[2018-11-10 00:35] #179 closed

[2018-11-12 21:13] confusingbits commented on #147
@fachrinfl I was missing

[code]
from the installation docs.

[2018-11-15 08:00] xander9112 opened #202 "Wrong buildToolsVersion, compileSdkVersion and targetSdkVersion"
### Environment
 System:
      OS: Windows 10
      CPU: (4) x64 Intel(R) Core(TM) i5-6400 CPU @ 2.70GHz
      Memory: 3.64 GB / 15.91 GB
    Binaries:
      Yarn: 1.9.4 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
      npm: 6.4.1 - C:\Program Files\nodejs\npm.CMD
      Watchman: 4.9.4 - C:\Users\afurmanchuk\AppData\Local\Android\Sdk\watchman\watchman.EXE
    IDEs:
      Android Studio: Version  3.

[2018-11-19 14:51] GavinThomas1192 opened #203 "requiresMainQueueSetup possible outdate npm package"
After installing this package with yarn from npm on IOS and doing a test run of the functionality I receive a yellow box console warning.
"Module RNCalendarEvents requires main queue setup since it overrides 'init' but doesn't implement 'requiresMainQueueSetup'.
<img width="439" alt="screen shot 2018-11-19 at 6 45 55 am" src="https://user-images.githubusercontent.com/28162527/48714276-32e9c300-ebc

[2018-11-20 08:59] ycman0307 commented on #202
+1 , same issue

[2018-11-22 09:52] mounlion commented on #202
+1

[2018-11-25 14:44] shardick commented on #202
+1

[2018-11-27 07:57] bluenex commented on #202
There is a [PR](https://github.com/wmcmahan/react-native-calendar-events/pull/183/files) since August, unfortunately it isn't merged yet :(

[2018-11-29 22:38] danrevah opened #205 "Question: reoccurrence every Sunday / Monday?"
is it possible to set a reoccurrence for a specific day of the week?

[2018-11-30 00:05] #205 closed

[2018-12-04 06:18] SonQBChau commented on #146
on Android, if the event is recurring, leave out the endDate and specify it in the recurrenceRule.
This should be included in the docs or should be considered as a bug.

This code will work:
{
startDate: utcDateToString((any value),
recurrence: 'weekly',
recurrenceRule: {
frequency: 'weekly',
endDate: utcDateToString(any value),
}}

[2018-12-04 07:06] ntanwir10 commented on #169
Is reminder's library compatible with [react-native-calendars library](https://github.com/wix/react-native-calendars) ? What I meant is, would it possible to bind reminders from here to agenda in their ?

thanks and regards,
Nauman.

[2018-12-05 09:24] RafaelKr opened #206 "[Bug] saveEvent ignores calendarId on event update"
When calling saveEvent to update an existing event, the calendarId is ignored. So when I want to move the event to another calendar it's just not possible.
Is it possible to implement this on the native side or do I have to delete and recreate the event in another calendar?

### Environment
[code]

### Steps to Reproduce
[code]

### Expected Behavior
The event should be moved to the specified cale

[2018-12-08 12:33] ghodsizadeh opened #207 "App crash on fetchAllEvents"
App crashes when I want to get all events using `fetchAllEvents`.
Most of the library methods work but when I want to use this method app will crash on android.

### Environment

  React Native Environment Info:
    System:
      OS: macOS 10.14
      CPU: (4) x64 Intel(R) Core(TM) i5-3210M CPU @ 2.50GHz
      Memory: 33.83 MB / 8.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 8.1

[2018-12-08 14:19] ghodsizadeh commented on #207
Cals should be string. :(

[2018-12-08 14:19] #207 closed

[2018-12-10 21:53] rex-legorreta opened #208 "Permission for a pull request: Add more options to the recurrenceRule object"
Hi, I want to be able to merge my changes to your library.

What I developed is this, regarding the **recurrenceRule** and is able for Android and iOS:

- Add an array with the days of the week (**daysOfWeek**): This is used for creating a weekly recurring event that is repeated on specific days of the week, also it's used for create a monthly custom recurring event that start on a specific day of

[2018-12-15 15:56] wmcmahan commented on #206
Yes, you will need to recreate the event on another calendar. Editing an event only updates the fields for the event but not its associated calendar.

[2018-12-15 15:56] #206 closed

[2018-12-15 16:18] wmcmahan commented on #208
Yes, that would be a great addition. Pull requests are always welcome

[2018-12-15 16:52] #166 closed

[2018-12-15 16:52] #182 closed

[2018-12-16 11:52] nmeri17 commented on #146
Whoever is still maintaining this module should please explicitly specify in the docs that endDate should be moved into the recurrenceRule when that key is present. Has cost me a sour afternoon, after going through all issues referencing saveEvent without any success. I found this by going through each issue one after the other.  @SonQBChau Many thanks for rescuing me from this misery.

[2018-12-16 16:18] wmcmahan commented on #203
Now published in patch 1.6.4

[2018-12-16 16:18] #203 closed

[2018-12-16 16:19] wmcmahan commented on #202
Now published in patch 1.6.4

[2018-12-16 16:19] #202 closed

[2018-12-16 16:19] wmcmahan commented on #195
Published in patch 1.6.4

[2018-12-16 16:19] #195 closed

[2018-12-16 16:19] wmcmahan commented on #194
Removed in patch 1.6.4

[2018-12-16 16:19] #194 closed

[2018-12-16 16:22] #175 closed, assigned to nobody

[2018-12-16 16:51] wmcmahan commented on #200
Ah yes, iOS will need structured location values (similar to the alarm settings). This is not currently supported, but it would be nice to add it in. I will work on a solution for this.

[2018-12-21 12:26] jmasaki24 opened #210 "saveEvent doesn't do anything"
Note: A pop-up asking for permission to access the calendar appeared on a previous run, I hit permit.
### Environment
React Native Environment Info:
    System:
      OS: Windows 10
      CPU: (4) x64 Intel(R) Core(TM) i5-4210U CPU @ 1.70GHz
      Memory: 890.83 MB / 7.93 GB
    Binaries:
      Yarn: 1.3.2 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
      npm: 6.4.1 - C:\Program Files\nodejs\npm.CM

[2018-12-21 15:43] jmasaki24 commented on #150
findCalendars(); gives me an empty array. I using an AVD. What does this mean?

[2018-12-21 16:59] wmcmahan commented on #150
@jmasaki24 It means that you don't have any calendars on the device. You will need to setup a test calendar on your AVD.

[2018-12-22 17:53] jmasaki24 commented on #150
Can't believe I glossed over this. Thanks for the feedback!

[2018-12-22 17:53] jmasaki24 commented on #210
Turns out I'm a total idiot, just had to set up Google Calendars on the emulator itself.

[2018-12-22 17:53] #210 closed

[2019-01-04 17:49] nol13 commented on #99
^before

this happens only on emulator for me, on device is fine

[2019-01-07 13:34] nwaughachukwuma commented on #56
Hi @wmcmahan please am battling with the date format. Please what's acceptable. My server pushes yyyy-mm-dd hh:mm:ss. What's the best way to convert this to an acceptable format. I have used moment(start_date) and (new Date(start_date)).toISOString(), yet the App crashes. I think this should be simplified. Thanks

[2019-01-07 15:08] wmcmahan commented on #56
Hi @nwaughachukwuma converting it to ISO format `YYYY-MM-DDT00:00:00.000Z` should work. What is the error log you get with the crash?

[2019-01-07 15:55] nwaughachukwuma commented on #56
I guess it's not the date format afterall, cause I saw this:
`java.lang.ClassCastException: V alue for id cannot be cast from Double to String`

I was passing uuid and it didn't recognize it, now am passing the id and it gives the error above.

[2019-01-07 21:58] wmcmahan commented on #56
The id value must be a string (for old reasons). Also, by using the id property it will try and update an existing event, not create a new event with the id. Hope this helps.

[2019-01-15 01:50] Darkhorse-Fraternity opened #212 "unable to open database file"
native:android.database.sqlite.SQLiteException: unable to open database file (code 14) at android.database.DatabaseUtils.readExceptionFromParcel(DatabaseUtils.java:181) at android.database.DatabaseUtils.readExceptionFromParcel(DatabaseUtils.java:137) at android.content.ContentProviderProxy.query(ContentProviderNative.java:421) at android.content.ContentResolver.query(ContentResolver.java:488) at a

[2019-01-15 01:58] Darkhorse-Fraternity commented on #212
native:java.lang.NullPointerException: Attempt to invoke interface method 'int android.database.Cursor.getCount()' on a null object reference at com.calendarevents.CalendarEvents.findEventById(Unknown Source) at com.calendarevents.CalendarEvents.addEvent(Unknown Source) at com.calendarevents.CalendarEvents.access$100(Unknown Source) at com.calendarevents.CalendarEvents$2.run(Unknown Source) at jav

[2019-01-28 09:48] tunm1228 opened #213 "Manifest merger failed : uses-sdk:minSdkVersion 16 cannot be smaller than version 19 declared in library [:react-native-calendar-events] /Users/tu/Desktop/HomePage/homepage-mobile/node_modules/react-native-calendar-events/android/build/intermediates/manifests/full/debug/AndroidManifest.xml as the library might be using APIs not available in 16"
### Environment

### Steps to Reproduce

### Expected Behavior

### Actual Behavior

[2019-01-30 14:21] padvlad commented on #213
This issue has been introduced in https://github.com/wmcmahan/react-native-calendar-events/pull/183. One of the reviews did raise a warning about the unnecessary change of `minSdkVersion`, but this has been ignored apparently.

[2019-01-31 11:55] yfuks commented on #165
Hello !

Any roadmap ? :)
PR are welcome ?

[2019-02-01 14:46] vinayakb-pits opened #215 "fetchAll not fetching ALL DAY events if the date is in local timezone"
If I  fetch all events for a particular date, it won't fetch 'ALL DAY' events for that particular date if date is in local timezone.  consider below code
` startTime = new Date();
   endTime = new Date();

        startTime.setHours(0, 0, 0);
        endTime.setHours(24, 0, 0);
        RNCalendarEvents.fetchAllEvents(startTime, endTime).then(
            events => {
               console.log(even

[2019-02-01 18:31] tyricec opened #216 "Inserting New Calendars"
Hello. I was wondering if adding a feature of inserting calendars would be of interest. I have a requirement at my job to insert a calendar on the device and will start working on it. Was just wondering if I should make it a separate package or fork this repository and create a PR. My concern is that it seems that the intention of this repository is to only manage events and not calendars, so it w

[2019-02-01 19:00] wmcmahan commented on #216
You may be in luck. A PR #214 was just created for creating calendars.

[2019-02-01 19:05] tyricec commented on #216
Cool. I will close this issue then. Didn't notice the related issues for it. Thanks.

[2019-02-01 19:05] #216 closed

[2019-02-08 16:05] FonDorn commented on #213
You also can add to **build.gradle** file next code:
[code]

[2019-02-09 21:57] davidbonan opened #218 "Unable to update single event in reccurent serie"
### Environment
System:
      OS: macOS 10.14
      CPU: (4) x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
      Memory: 22.73 MB / 8.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 11.9.0 - /usr/local/bin/node
      npm: 6.5.0 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:
      iOS SDK:
        Platforms: iOS 12.1, macOS 10.14, tvOS 12.1, watchOS 5.

[2019-02-11 08:46] padvlad commented on #213
@FonDorn Yes you could, but this would mean only supporting devices that run on SDK 19 or newer. The whole issue in my opinion is that this library removed the support for older SDK's with no apparent reason (and that lack of a reason is the main issue). For an app that is in production and already supports older phones this would mean some users (even if they are just a few of them) would loose s

[2019-02-11 16:38] wmcmahan commented on #213
Apologies, this was an unintentional change. A fix will be pushed to support lower SDKs in the next release. 👍

[2019-02-11 16:38] #213 closed

[2019-02-14 10:10] chakrihacker opened #219 "Can we get event id's in fetchAllEvents"
fetchAllEvents returns events in a time range, but event id is not associated with it. It's good to return event id

I can help you if there is a way of getting the event id's

[2019-02-19 16:24] #208 closed

[2019-02-22 12:02] Chandrasekar-G commented on #184
@coderdave @Vizards  I face a similar issue too. The difference is I used saveEvent instead of delete in your case. It doesn't occur in android and happens only for iOS.

The temporary fix we came up with is not to use location param while saving an event. With just the title, start and endDate it works fine for iOS.

Will try to look into the native code and create a pull request when I find the

[2019-02-25 21:29] coderdave commented on #184
Thanks @Chandrasekar-G, but I'm not even using the `location` param. In my test code above, all I'm doing is `RNCalendarEvents.saveEvent("Popeye", {startDate, endDate})`.

[2019-02-27 03:52] est7 commented on #116
@wa292178 有什么错吗?我看了一遍没发现什么问题啊 eventid也是保存了的

[2019-03-01 06:21] fatihergin opened #222 "[ANDROID] RNCalendarEvents.authorizationStatus() returns "denied" even if the user select "Never ask me again" before"
RNCalendarEvents.authorizationStatus() returns "denied" even if the user denied it with selecting the "Never ask me again" checkbox before. It's not returns "restricted" as expected.

### Environment
It's tested with Xiaomi Mi8 (Peanut), Samsung Note 8 (Oreo), Motorola Moto G 4 (Nougat).

[code]

If the user denied this permission with selecting the "Never ask me again" checkbox, "status = await R

[2019-03-04 01:19] Darkhorse-Fraternity opened #223 "NullPointerException (@CalendarEvents:createRemindersForEvent:-1) {Thread-3386}"
NullPointerException (@CalendarEvents:createRemindersForEvent:-1) {Thread-3386}
### Environment

 React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: (4) x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
      Memory: 119.43 MB / 8.00 GB
      Shell: 5.3 - /bin/zsh
    Binaries:
      Node: 10.11.0 - ~/.nvm/versions/node/v10.11.0/bin/node
      npm: 6.4.1 - ~/.nvm/

[2019-03-05 22:44] jeveloper opened #224 "Removing calendar event disappears and then returns"
Simple

Google Pixel 1 device, removing event , calendar appears empty, 10 seconds later the same event is back.

No idea. It's not happening on ios or Samsung S7 8.0

[2019-03-11 07:02] panda8z opened #225 "UnexpectedNativeTypeException: expected map, got a string in 1.7.0version"
when I upgrade my `react-native-calendar-events: 1.6.4` to `1.7.0` a runtime crash occur in my Android App.
![image](https://user-images.githubusercontent.com/24646937/54105306-95ccc780-440d-11e9-8703-1666287fd05a.png)

![image](https://user-images.githubusercontent.com/24646937/54105274-851c5180-440d-11e9-905e-a19a8efad446.png)

### Environment

before:`react-native-calendar-events: 1.6.4`

after

[2019-03-11 15:55] Octaner commented on #225
Similar problem:
<img width="803" alt="Screenshot 2019-03-11 at 18 53 33" src="https://user-images.githubusercontent.com/2323024/54137715-2ff13780-442f-11e9-985b-9126d500dbb4.png">

[2019-03-12 12:53] gunnartorfis opened #226 "Build Error: verifyReleaseResources FAILED (with solution)"
When trying to build a release artifact on Android, using ./gradlew assembleRelease, I get the error linked under "Actual Behavior".

### Environment
`
 React Native Environment Info:
    System:
      OS: macOS 10.14.3
      CPU: (8) x64 Intel(R) Core(TM) i7-6820HQ CPU @ 2.70GHz
      Memory: 564.40 MB / 16.00 GB
      Shell: 5.3 - /bin/zsh
    Binaries:
      Node: 10.14.1 - /usr/local/bin/node

[2019-03-19 07:30] JayantJoseph commented on #184
I met with a similar issue, as said by @Vizards and @Chandrasekar-G . I created lots of events (in a loop) with recurrence rule passed. The issue was not found in Android, but resulted in crash in iOS. Single creations of events are not causing any problems (with and without recurrence rule). Only when a lot of events are created at once(with recurrence) does this problem arise (in iOS). Without r

[2019-03-19 07:41] JayantJoseph commented on #165
1) Option to pass array of dates(with all the options) for creating and deleting events, so we can create/delete multiple dates without having to call it through a loop.
2) Option to pass array of exception dates, as there is no way to give more than 1 exception date now.
3) Option to pass the rrule string directly, without having to divide it into several values and passing it to several attribut

[2019-03-20 09:34] Darkhorse-Fraternity opened #227 "NullPointerException (@CalendarEvents:createRemindersForEvent:-1)"
NullPointerException (@CalendarEvents:createRemindersForEvent:-1) {Thread-2483}
### Environment

eact Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: (4) x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
      Memory: 60.42 MB / 8.00 GB
      Shell: 5.3 - /bin/zsh
    Binaries:
      Node: 10.11.0 - ~/.nvm/versions/node/v10.11.0/bin/node
      npm: 6.4.1 - ~/.nvm/ver

[2019-03-20 19:00] jpaas commented on #226
Also hitting this issue with RN 0.58. Looks like the `build.gradle` needs to be updated again.

[2019-03-20 20:53] apppro123 opened #229 "timezone problems"
I have still problems with timezone. When i set an string with Moment().toISOString() it does not use the timezone and so set it false in the google calendar.
I have the same problems with .utc() and .values() but i dont know why?
Google calendar and Moment does use the same timezone, but somehow it converts the timezone while saving the event at google calendar and google calendar takes the "fals

[2019-03-22 08:09] JayantJoseph commented on #184
I think the solution for this issue is this pull request! [https://github.com/wmcmahan/react-native-calendar-events/pull/220](https://github.com/wmcmahan/react-native-calendar-events/pull/220)

[2019-03-22 12:58] jmagdada commented on #184
I'm currently also facing this issue - saving a lot of events makes the app crash.

@JayantJoseph should we wait for a new version to get the fix from @LorienHW? sorry I'm new to this. :)

[2019-03-23 08:16] jake41 opened #231 "UI gets stuck on calling Alert.alert in .then method of RNCalendarEvents.saveEvent()"
This is my code for the same:

[code]

UI becomes unresponsive after the Alert.alert dialog is shown.

This is working fine in Android. Only in IOS I am facing this issue.

[2019-03-23 08:33] jake41 opened #232 "Date format failing on android."
AppointmentStartDate: 2019-03-23T13:52:03.033+05:30
AppointmentEndDate: 2019-03-23T14:12:03.033+05:30

The above date works in ios, but not in android. Getting the below error in android:

Error : Error: Unparseable date: "2019-03-23T14:02:15.1515+05:30"

[2019-03-23 09:09] jake41 commented on #232
This is working after I changed format to "YYYY-MM-DDTHH:mm:ss.sss[Z]" from "YYYY-MM-DDTHH:mm:ss.sssZ"

[2019-03-23 09:27] jake41 commented on #232
I am unable to get correct time after removing timezone, Can some one tell what is the correct date format to use in android and ios for react-native-calendar-events ?

Thanks

[2019-03-23 09:44] jake41 commented on #229
same issue!!

[2019-03-23 09:50] jake41 opened #233 "Unable to see event in GoogleCalendar"
On saveEvent . I am getting success back with calendarid as follows:

Added appointment to Calendar.
CalendarEventID: 270

But I am unable to view the event in Google Calendar .

[2019-03-25 02:01] coderdave commented on #184
@jmagdada I tried that PR from @LorienHW and it actually made things worse for me. When I removed all of the events, it left a dot on the date but nothing is there. If I zoom into the day, it says "New Event" and when I try to delete it, the calendar app crashes. It looks like it's not assigned to a specific calendar, that may be why.

[2019-03-25 09:31] JayantJoseph commented on #184
@LorienHW s pull request works for me! (y)

[2019-03-25 10:26] jmagdada commented on #184
@JayantJoseph & @coderdave what should I do so I can try the pull request too? sorry for the stupid question. I do not know how. :D

[2019-03-25 13:55] coderdave commented on #184
@JayantJoseph It works in the simulator (as it always has) but it doesn't work on a physical device for me (my iOS phone).  Have you tried the test code in this comment? https://github.com/wmcmahan/react-native-calendar-events/issues/184#issuecomment-412214040

[2019-03-25 14:06] coderdave commented on #184
@jmagdada There's probably a better way, but I just made sure I have the latest version of this library and grab the changes that were made in the PR and copy them to my `node_modules/react-native-calendar-events` directory. The only thing that was changed in that PR was https://raw.githubusercontent.com/wmcmahan/react-native-calendar-events/a7d8ef51c842b944011d478d7e003fbabe829443/RNCalendarEvent

[2019-03-25 14:21] jmagdada commented on #184
Thank you @coderdave I will try that.

[2019-03-25 16:02] LorienHW commented on #184
@jmagdada  Our fork is up to date with master in the base fork, so to try out our patch you can also set your npm dependency in your package.json file to `"react-native-calendar-events": "github:Outpatient/react-native-calendar-events#a7d8ef51c842b944011d478d7e003fbabe829443",`. In my experience, you may need to first run `npm uninstall react-native-calendar-events` to remove an existing version t

[2019-03-26 07:41] jmagdada commented on #184
Thank you @LorienHW

[2019-03-28 19:07] mushinz commented on #207
I still face this issue, if I try to search with data, date, array of strings id's, on IOS works, on android app crash, anyone facing this anymore?

[2019-03-28 19:10] mushinz opened #234 "ANDROID - App crash on fetchAllEvents"
When using fetchAllEvents(date, laterDate, arrayOfStringIds)
App crashes on android, if I don't specify an arrayOfStringIds it fetch the events just fine

### Environment

React Native 0.59.2

### Steps to Reproduce

using fetchAllEvents(date, laterDate, arrayOfStringIds)
### Expected Behavior

It should fetch all events from that specific calendar/calendars
### Actual Behavior

App crash

[2019-03-28 19:23] lakhman commented on #227
I have a similar environment to Darkhorse-Fraternity and I am also getting this error (using version 1.6.4 of this library on android.

Here's my crashlytics report.

[code]

I think one of the parameters for the call to `createRemindersForEvent` is sometimes being passed as null, possibly the eventId.

https://github.com/wmcmahan/react-native-calendar-events/blob/master/android/src/main/java/com/

[2019-03-28 23:53] kentapolis commented on #226
Running into a similar issue,

[code]

Any pointers would be greatly appreciated

[2019-03-29 13:07] gunnartorfis commented on #226
@kentapolis For now, you can manually edit the build.gradle (for the react-native-calendar-events package) file to match the solution I provided in the original post.

This does of course not work if you're using some CI/CD tool like AppCenter, but then you'd have to manually build the APK from Android Studio and upload it.

[2019-03-31 12:30] eladgel opened #236 "App crashes on ArrayIndexOutOfBoundsException"
Line pointing towards crashing line
![image](https://user-images.githubusercontent.com/412137/55288779-44d54100-53c5-11e9-8c27-53077ce569ad.png)

### Environment
React Native Environment Info:
    System:
      OS: macOS 10.14.3
      CPU: (12) x64 Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz
      Memory: 58.88 MB / 16.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 8.15.0 - ~/.nvm/ve

[2019-03-31 15:25] #226 closed

[2019-03-31 15:58] wmcmahan commented on #219
@chakrihacker There should be an event id associated with the event. The event id is created and returned from the devices store.

[2019-04-01 07:00] chakrihacker commented on #219
Hey sorry for that question, I was confused with calendar id and event id. When I was testing I used calendar id to get event data. Solved it, forgot to close. Thanks for making this library

[2019-04-01 07:00] #219 closed

[2019-04-01 10:21] qmegas opened #237 "fetchAllEvents is very slow"
Hi,

Why `fetchAllEvents` function is so slow?
I'm trying to fetch all events in my calendar from current day to one year ahead, and it takes on my Samsung Galaxy S6 about **25-32 seconds**! I understand that it can be about 300-400 records to fetch, but still it shouldn't take so much time. Is there place for optimization?

[2019-04-02 13:18] sa2812 opened #239 "Unable to save a calendar using example in #214"
Following the instructions laid out in #214, I am encountering an error when attempting to create a calendar.

I have adapted the code to create a new event like so:

[code]

I then receive the following error message when running this code:

[code]

I'm not sure how sources work, but is there any additional configuration I need in my code for this to work?

Edit: The above code works on Android,

[2019-04-05 05:36] Hanums opened #240 "Compile RNCalendarEvents.m fatal error: 'YGValue.h' file not found"
Showing Recent Errors Only

Build target react-native-calendar-events of project Pods with configuration Debug

In file included from /Users/<user>/Test/reactnative/node_modules/react-native-calendar-events/RNCalendarEvents.m:2:

In file included from /Users/<user>/Test/reactnative/ios/Pods/Headers/Public/React/React/RCTConvert.h:17:
/Users/<user>/Test/reactnative/ios/Pods/Headers/Private/yoga/Yog

[2019-04-05 16:42] wmcmahan commented on #240
YGValue.h is not a header file in the library. Looks to be coming from another file

[2019-04-05 16:42] #240 closed

[2019-04-07 14:40] #234 closed

[2019-04-07 15:10] wmcmahan commented on #232
You can send a date string or timestamp. Ex: "2019-04-07T10:00:00.500Z"

[2019-04-07 15:10] #232 closed

[2019-04-07 16:59] wmcmahan commented on #138
closing  #168

[2019-04-07 16:59] #138 closed

[2019-04-08 14:38] hisothreed commented on #225
update to the latest version npm i --save react-native-calendar-events@latest

[2019-04-08 18:39] wmcmahan commented on #225
Is fixed in `1.7.1`

[2019-04-08 18:39] #225 closed

[2019-04-08 18:44] #147 closed

[2019-04-08 18:50] #146 closed

[2019-04-08 18:59] wmcmahan commented on #200
Added in #221

[2019-04-08 18:59] #200 closed

[2019-04-08 19:04] wmcmahan commented on #150
This will only save the event. UI events and actions are not handled from this library.

[2019-04-08 19:04] #150 closed

[2019-04-18 19:44] rex-legorreta commented on #212
I had this same issue when fetching events and my solution was to remove the reminders and the attendees (I don't need them anyways) and add try catch to some cursor function executions

for example in private WritableNativeArray serializeEvents(Cursor cursor)...
` try {
                while (cursor.moveToNext()) {
                    results.pushMap(serializeEvent(cursor));
                }

[2019-04-23 06:16] gourav-singhal opened #241 "[ANDROID] Unable to provide response for "authorizeEventStore" method."
Unable to provide response for "authorizeEventStore" method.

As soon as I call this method a popup for user permission is displayed and the app crashes as soon as the user provides the response (either deny / allow).

Please suggest any solution or any other information required to track this issue.

### Environment
React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6

[2019-04-23 06:39] gourav-singhal commented on #241
I have tested the crash is there on Android 8.0 as well as android 9.0

[2019-04-23 11:20] gourav-singhal commented on #107
Facing the same issue in RN 0.55.4

[2019-04-26 03:50] mohbasheer opened #242 "Not working as per recurrenceRule rule"
### Environment
  React Native Environment Info:
    System:
      OS: macOS 10.14
      CPU: (4) x64 Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
      Memory: 26.00 MB / 16.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 10.15.1 - ~/.nvm/versions/node/v10.15.1/bin/node
      npm: 6.4.1 - ~/.nvm/versions/node/v10.15.1/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:

[2019-04-27 00:14] tobikars commented on #241
We are having the same issue, authorizeEventStore method does not return a promise (result or error), app just crashes.

[2019-04-27 14:52] wmcmahan commented on #242
Hi @mohbasheer, don't give the endDate for the recurrence rule and only use the occurrence property. Ex:
[code]

[2019-04-28 04:18] mohbasheer commented on #242
Hi,

End date is not optional, I am using latest version of react-native-calendar-events. Please check the attached errors.

RNCalendarEvents.saveEvent("Weekly gap 2", {
			startDate: "2019-04-28T19:26:00.000Z",
			recurrenceRule: {
				frequency: "weekly",
				occurrence: 3,
			},
		});

<img width="1440" alt="Screenshot 2019-04-28 at 12 15 54 PM" src="https://user-images.githubusercontent.com/44

[2019-04-28 13:48] #229 closed

[2019-04-28 14:20] apppro123 commented on #160
Can someone pls add this in the description, it would be very helpful!
(I have also run in this issue! )

[2019-04-29 12:41] jake41 commented on #241
[code]

[2019-04-29 13:14] jake41 commented on #241
@wmcmahan  can you have a look

[2019-05-01 17:18] jake41 commented on #241
@gourav-singhal  @tobikars  any workarounds found ?

[2019-05-02 08:57] gourav-singhal commented on #241
@jake41 I got the workaround for now.

Instead of using the 'authorizeEventStatus' and 'authorizeEventStore' from the library for android I am using the below code:-

checkForCalendarPermissionAndroid = async (date) => {
    try {
      const hasWritePermission = await PermissionsAndroid.check(
        PermissionsAndroid.PERMISSIONS.WRITE_CALENDAR,
      );

      const hasReadPermission = await P

[2019-05-02 15:54] humarkx opened #244 "Violation of Personal and Sensitive Information policy"
When we submitted our app with this library it got rejected on playstore. How do you guys recommend us to avoid this problem? Any suggestions are welcome.
Thanks

![image](https://user-images.githubusercontent.com/13049940/57088679-b709b000-6cfa-11e9-9ee1-d368fb155ff6.png)

[2019-05-03 18:37] jake41 commented on #241
@gourav-singhal thankyou, will try and let you know :)

[2019-05-05 07:06] 57912130 commented on #241
I have the same problem.

[2019-05-05 12:12] yfuks commented on #239
Hello @sa2812

make sure that `RNCalendarEvents.findCalendars()` return something.
You can also check that there is a calendar configured on your iOS.

[2019-05-06 08:56] gourav-singhal commented on #241
@57912130 you can try the above workaround.

[2019-05-06 08:57] gourav-singhal commented on #241
@jake41 I hope the workaround worked for you

[2019-05-07 09:12] star-heng commented on #227
me to

[2019-05-14 11:31] elan00 commented on #165
Would it be possible to mark the event's organizer in the list of event attendees?

Thanks in advance,
Elan Benor

[2019-05-14 11:32] elan00 commented on #165
Would it be possible to mark the event's organizer in the list of event attendees?

Thanks in advance,
Elan Benor

[2019-05-14 12:39] elan00 opened #246 "How can I get the details of the event organizer"
How can I get the details of the event organizer

Environment
IOS/Android

Steps to Reproduce
Get an event.

Expected Behavior
An object detailing event Organizer name and email

Actual Behavior
Organizer information is not available, just buried in the list of attendees

[2019-05-19 10:39] dophlin opened #247 "saveCalendar is not working properly"
I'm using the following code in order to create a calendar, while it works on Android, it does not work on iOS.

[code]

The weird thing is that the saveCalendar returns a new UUID for the created calendar, but the Calendars app inside the iOS does not show any created calendar.

### Environment
  React Native Environment Info:
    System:
      OS: macOS 10.14.4
      CPU: (4) x64 Intel(R) Core(T

[2019-05-19 14:34] wmcmahan commented on #247
Hi @dophlin, do you see the created calendar in the `RNCalendarEvents.findCalendars` results? Also, `entityType` is set as `reminder`. You may want to use `event`.

[2019-05-20 08:28] dophlin commented on #247
Hi @wmcmahan, the created calendar is not listed in the `RNCalendarEvents.findCalendars`.
However, setting the `entityType` as `event` resolved the problem. Thanks for your hint.

[2019-05-20 08:29] #247 closed

[2019-05-30 14:41] mikehardy opened #248 "Breaking change released as semver patch 1.7.2"
### Steps to Reproduce
1. Use the API CalendarEventspackage.onRequestPermissionsResult
1. Use version 1.7.1 of this module as a `^1.7.1` style version range
1. Run `npm update`
1. Build java

### Expected Behavior

Build should not fail

### Actual Behavior

[code]

I understand APIs need to change (I manage react-native-device-info, help on react-native-share and react-native-firebase), but semve

[2019-05-30 17:27] wmcmahan commented on #248
Thanks @mikehardy, looks like it was an unexpected breaking change. I'm not sure it warrants a major version change, but will publish a fix soon. In the meantime, I would suggest pinning your version to 1.7.1.

[2019-05-30 17:29] mikehardy commented on #248
semver is unemotional -> API breaks, it's a major version bump :-). It's only us humans that attach meaning to the first digit. But if the API was maintained for backwards-compability then sure

Completely unrelated - all my family is in Austin, all my close family is there - if you get a chance have some Micklethwaite brisket for me ;-), I moved to a place that hasn't learned how to do it right

[2019-05-30 17:42] wmcmahan commented on #248
Yeah, unfortunately the API wasn't intended to be breaking ;) That was one is on me. I've reverted the change and published. Will republish that with better notice.

Good brisket is a must. Your family picked a great place to live!

[2019-05-30 17:56] #248 closed

[2019-05-30 22:50] dbasea commented on #131
Hi there @wmcmahan, I've been implementing some calendar solution using this package.  I would like to understand more about changing event Ids.  When does this happen and is there any way I can keep track of my events after they change?

[2019-06-06 13:36] dophlin commented on #207
I have a similar issue too. When I want to fetchAllEvents app crashes with this error:
`JSON value {} of type NSMutableDictionary cannot be converted to a date`

I have this error only on iOS. Also, when I change the mode to debug mode, the app does not crash.

[2019-06-06 13:52] dophlin commented on #207
I use this method in order to solve my problem:
[code]

I hope it helps.

[2019-06-18 10:11] Tamiyadd opened #254 "AndroidX support"
### Environment
[code]
### Steps to Reproduce
add
`android.useAndroidX=true`
`android.enableJetifier=true
`

to `gradle.properties`

and use

`react-native run-android`

### Expected Behavior
Compile and run app

### Actual Behavior
It throws
[code]
and other similar errors